# 미국의 기준금리 인상 및 은행 파산이 국내 금융지주사에 미치는 영향

공변량 후보: 미국, 한국(환율, 경제 성장률, GDP, 금리, 주식지수)

환율 USD, KRW, USD/KRW  V

주식 지수: KOSPI, KRX100, DJI 

무역 거래량? 외교지수?

## 데이터 준비

In [2]:
import FinanceDataReader as fdr
import pandas as pd
from pandas.tseries.offsets import CustomBusinessDay
import numpy as np
from datetime import datetime, timedelta
from causalimpact import CausalImpact
import warnings
warnings.filterwarnings('ignore')

In [3]:
print(fdr.__version__)

0.9.93

In [4]:
df = fdr.DataReader('KS11', '2022')
df

1 001 2022-01-01 00:00:00 2023-12-31 00:00:00
1 001 2024-01-01 00:00:00 2025-12-31 00:00:00

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2022-01-03,2998.32,3010.77,2979.42,2988.77,435825854,0.0037,1,11.12,8193887264228,2211373367405162
2022-01-04,2991.97,2995.25,2973.08,2989.24,621549385,0.0002,1,0.47,9991473942836,2212087919930193
2022-01-05,2984.05,2986.20,2936.73,2953.97,787346121,-0.0118,2,-35.27,15428422516445,2186715367040906
2022-01-06,2925.40,2952.54,2915.38,2920.53,786045066,-0.0113,2,-33.44,13297135242112,2162437324139180
2022-01-07,2933.78,2959.03,2933.10,2954.89,546172478,0.0118,1,34.36,10582421237357,2187560533655431
...,...,...,...,...,...,...,...,...,...,...
2025-02-27,2637.63,2638.47,2610.47,2621.75,513909805,-0.0073,2,-19.34,10802121046832,2147708334692199
2025-02-28,2585.61,2586.78,2531.24,2532.78,588571521,-0.0339,2,-88.97,15637224696362,2074378682303205
2025-03-04,2522.20,2548.78,2513.31,2528.92,484081351,-0.0015,2,-3.86,13115384134880,2071277908689397
2025-03-05,2548.45,2561.47,2535.18,2558.13,569412248,0.0116,1,29.21,13021641663686,2094580712219600
2025-03-06,2573.55,2583.65,2565.57,2576.16,600428020,0.0070,1,18.03,11114710005542,2105642393608409

In [5]:
# # KS11 (KOSPI 지수), 2022년~현재
# df = fdr.DataReader('KS11', '2022')
# df = pd.DataFrame(df)
# x = pd.DataFrame(df['Close'])
# df = fdr.DataReader('USD/KRW', '2022')
# x.style.hide_index()
# x = pd.merge(x, df['Close'], how='left', on='Date')
# df = fdr.DataReader('S&P500', '2022')
# x = pd.merge(x, df['Close'], how='left', on='Date')
# x = x.rename(columns={'Close_x':'KOSPI', 'Close_y':'USD/KRW', 'Close':'SP500'})
# x

## 한국 금융지주사

### 시중은행금융지주

In [6]:
df1 = fdr.DataReader('105560', '2022') #KB
df1 = pd.DataFrame(df1)
df1

             Open   High    Low  Close   Volume    Change
Date
2022-01-03  54900  55700  54800  55300   635124  0.005455
2022-01-04  55800  56400  55600  56400   927067  0.019892
2022-01-05  56400  57100  55800  56600  1429634  0.003546
2022-01-06  56600  56900  55500  55800   988985 -0.014134
2022-01-07  56000  56100  54800  55700  1193940 -0.001792
...           ...    ...    ...    ...      ...       ...
2025-02-27  81500  81500  79900  80800  1512909 -0.008589
2025-02-28  80100  80700  78300  78300  1490037 -0.030941
2025-03-04  78500  79200  77100  77900  1154886 -0.005109
2025-03-05  79200  79600  76400  76600  1562477 -0.016688
2025-03-06  77800  79200  77500  78600  1508464  0.026110

[776 rows x 6 columns]

In [7]:
df2 = fdr.DataReader('316140', '2022') #우리
df2 = pd.DataFrame(df2)
df2

             Open   High    Low  Close   Volume    Change
Date
2022-01-03  12600  12950  12600  12800  1498991  0.007874
2022-01-04  12800  13000  12750  13000  2130795  0.015625
2022-01-05  13150  13200  12950  13050  2385685  0.003846
2022-01-06  13050  13150  12800  12850  1716327 -0.015326
2022-01-07  12950  13100  12850  13100  1922826  0.019455
...           ...    ...    ...    ...      ...       ...
2025-02-27  16890  17000  16680  17000  2694852 -0.015064
2025-02-28  16870  16920  16500  16580  3469027 -0.024706
2025-03-04  16480  16610  16210  16250  2585981 -0.019903
2025-03-05  16260  16460  15940  16000  2610400 -0.015385
2025-03-06  16140  16230  16010  16220  1377215  0.013750

[776 rows x 6 columns]

In [8]:
df3 = fdr.DataReader('086790', '2022') #하나
df3 = pd.DataFrame(df3)
df3

             Open   High    Low  Close   Volume    Change
Date
2022-01-03  42050  42600  42000  42350   693817  0.007134
2022-01-04  42450  42800  42250  42700   664584  0.008264
2022-01-05  42950  43350  42500  43000  1487051  0.007026
2022-01-06  42850  43250  42650  43200  1051238  0.004651
2022-01-07  43200  43500  42400  43450  1031482  0.005787
...           ...    ...    ...    ...      ...       ...
2025-02-27  62000  62000  60300  61500  1261187 -0.016000
2025-02-28  60900  61100  59500  59500  2001092 -0.032520
2025-03-04  59900  60200  59200  59400   764143 -0.001681
2025-03-05  59500  59900  57600  57800  1115620 -0.026936
2025-03-06  58000  59600  58000  59500   725947  0.029412

[776 rows x 6 columns]

In [9]:
df4 = fdr.DataReader('055550', '2022') #신한
df4 = pd.DataFrame(df4)
df4

             Open   High    Low  Close   Volume    Change
Date
2022-01-03  36700  37450  36700  37250  1090787  0.012228
2022-01-04  37300  37600  37200  37600  1128934  0.009396
2022-01-05  37800  37950  37300  37500  1473096 -0.002660
2022-01-06  37650  37850  37150  37300  1232985 -0.005333
2022-01-07  37300  37650  36900  37650  1126929  0.009383
...           ...    ...    ...    ...      ...       ...
2025-02-27  47400  47850  47050  47500  1258650 -0.001052
2025-02-28  46600  47300  45850  45850  3070901 -0.034737
2025-03-04  46400  47100  45950  46150  1570129  0.006543
2025-03-05  46350  46600  44400  44650  1969675 -0.032503
2025-03-06  45200  46600  45200  46350  1525787  0.038074

[776 rows x 6 columns]

### 지방은행금융지주

In [10]:
df5 = fdr.DataReader('139130', '2022') #DGB
df5 = pd.DataFrame(df5)
df5

            Open  High   Low  Close  Volume    Change
Date
2022-01-03  9350  9400  9300   9330  226384 -0.005330
2022-01-04  9370  9390  9300   9390  233945  0.006431
2022-01-05  9450  9530  9420   9480  342435  0.009585
2022-01-06  9430  9510  9410   9440  217857 -0.004219
2022-01-07  9450  9490  9370   9490  364404  0.005297
...          ...   ...   ...    ...     ...       ...
2025-02-27  9250  9390  9150   9350  942840 -0.031088
2025-02-28  9270  9330  9200   9260  854515 -0.009626
2025-03-04  9160  9320  9150   9150  722322 -0.011879
2025-03-05  9150  9220  8910   8980  550603 -0.018579
2025-03-06  8980  9000  8900   9000  400488  0.002227

[776 rows x 6 columns]

In [11]:
df6 = fdr.DataReader('138930', '2022') #BNK
df6 = pd.DataFrame(df6)
df6

             Open   High    Low  Close   Volume    Change
Date
2022-01-03   8360   8450   8340   8390   826024 -0.001190
2022-01-04   8420   8470   8350   8470   903737  0.009535
2022-01-05   8530   8590   8470   8550  1909652  0.009445
2022-01-06   8510   8600   8430   8480  1045894 -0.008187
2022-01-07   8510   8570   8410   8560  1244991  0.009434
...           ...    ...    ...    ...      ...       ...
2025-02-27  11590  11660  11350  11610   967654 -0.016935
2025-02-28  11410  11520  11000  11160  2141641 -0.038760
2025-03-04  10900  11140  10650  10750  1115954 -0.036738
2025-03-05  10750  10940  10340  10460  1545094 -0.026977
2025-03-06  10520  10550  10340  10500  1112989  0.003824

[776 rows x 6 columns]

In [12]:
df7 = fdr.DataReader('175330', '2022') #JB
df7 = pd.DataFrame(df7)
df7

             Open   High    Low  Close  Volume    Change
Date
2022-01-03   8310   8350   8240   8260  284897 -0.010778
2022-01-04   8280   8370   8250   8370  230459  0.013317
2022-01-05   8400   8450   8360   8390  297356  0.002389
2022-01-06   8390   8440   8320   8340  160870 -0.005959
2022-01-07   8400   8430   8320   8340  230019  0.000000
...           ...    ...    ...    ...     ...       ...
2025-02-27  17900  18160  17460  18050  625078 -0.019022
2025-02-28  17990  18080  17240  17240  823812 -0.044875
2025-03-04  17240  17950  17210  17400  389346  0.009281
2025-03-05  17550  17630  16820  17000  441280 -0.022989
2025-03-06  17030  17270  17000  17270  321975  0.015882

[776 rows x 6 columns]

### 비은행금융지주

In [13]:
df8 = fdr.DataReader('138040', '2022') #메리츠
df8 = pd.DataFrame(df8)
df8

              Open    High     Low   Close  Volume    Change
Date
2022-01-03   43550   46300   43000   45500  355882  0.034091
2022-01-04   45500   50000   45500   48000  695595  0.054945
2022-01-05   47800   49450   46900   47000  504312 -0.020833
2022-01-06   46550   48300   46000   46800  389948 -0.004255
2022-01-07   46700   50700   46500   49300  621791  0.053419
...            ...     ...     ...     ...     ...       ...
2025-02-27  121600  122300  119600  122300  306746 -0.004072
2025-02-28  121600  122100  120400  120800  314273 -0.012265
2025-03-04  120700  121800  117400  117900  340502 -0.024007
2025-03-05  117900  123200  117900  122500  302520  0.039016
2025-03-06  122000  127400  122000  127200  399939  0.038367

[776 rows x 6 columns]

In [14]:
df9 = fdr.DataReader('071050', '2022') #한국금융
df9 = pd.DataFrame(df9)
df9

             Open   High    Low  Close  Volume    Change
Date
2022-01-03  80700  80900  79700  79800  107135 -0.011152
2022-01-04  79400  79900  79000  79700  129143 -0.001253
2022-01-05  79000  79900  78100  78900  208624 -0.010038
2022-01-06  78000  78800  76700  76800  282331 -0.026616
2022-01-07  76600  79000  76600  78800  178641  0.026042
...           ...    ...    ...    ...     ...       ...
2025-02-27  79000  79300  77500  78900  195748 -0.031902
2025-02-28  77700  79600  77100  79600  234232  0.008872
2025-03-04  78700  79700  75400  75600  165718 -0.050251
2025-03-05  75800  76600  74100  75700  110279  0.001323
2025-03-06  75300  78000  75300  77100  133975  0.018494

[776 rows x 6 columns]

### 은행

In [15]:
df10 = fdr.DataReader('024110', '2022') #기업
df10 = pd.DataFrame(df10)
df10

             Open   High    Low  Close   Volume    Change
Date
2022-01-03  10300  10400  10250  10350  1125994  0.004854
2022-01-04  10400  10400  10300  10400   902538  0.004831
2022-01-05  10450  10500  10400  10450  1607535  0.004808
2022-01-06  10400  10450  10300  10350  1188128 -0.009569
2022-01-07  10350  10400  10300  10350  1371527  0.000000
...           ...    ...    ...    ...      ...       ...
2025-02-27  15510  15620  15370  15620   927522  0.006443
2025-02-28  15640  15720  15500  15590  1984578 -0.001921
2025-03-04  15610  15870  15470  15480  1513662 -0.007056
2025-03-05  15540  15600  15250  15340  1158351 -0.009044
2025-03-06  15380  15500  15280  15490  1031854  0.009778

[776 rows x 6 columns]

In [16]:
df11 = fdr.DataReader('006220', '2022') #제주
df11 = pd.DataFrame(df11)
df11

            Open  High   Low  Close   Volume    Change
Date
2022-01-03  6110  6190  5920   6070   251919 -0.009788
2022-01-04  6090  6100  5980   6090   183725  0.003295
2022-01-05  6200  6350  6090   6260   449399  0.027915
2022-01-06  6540  6770  6140   6150  1098925 -0.017572
2022-01-07  6200  6530  6180   6390   618650  0.039024
...          ...   ...   ...    ...      ...       ...
2025-02-27  8170  8230  8050   8050    87418 -0.017094
2025-02-28  8050  8190  7910   7930   159431 -0.014907
2025-03-04  7900  7940  7730   7830   117330 -0.012610
2025-03-05  7770  7900  7770   7850    91294  0.002554
2025-03-06  7890  7980  7860   7880    31531  0.003822

[776 rows x 6 columns]

In [17]:
df12 = fdr.DataReader('323410', '2022') #카카오
df12 = pd.DataFrame(df12)
df12

             Open   High    Low  Close   Volume    Change
Date
2022-01-03  59000  59800  58900  59100   716944  0.001695
2022-01-04  59100  59200  57200  57300  1221416 -0.030457
2022-01-05  57400  57400  55000  55600  2068038 -0.029668
2022-01-06  55200  56700  54600  56000  2263007  0.007194
2022-01-07  55600  56200  55000  55000  1180315 -0.017857
...           ...    ...    ...    ...      ...       ...
2025-02-27  25000  25450  24600  25050   964626 -0.003976
2025-02-28  24850  24950  23700  24650  1189052 -0.015968
2025-03-04  24450  24450  22700  22700  1047979 -0.079108
2025-03-05  22700  23125  22650  22850   568737  0.006608
2025-03-06  22900  23400  22850  23250   447855  0.017505

[776 rows x 6 columns]

## 미국 금융지주사

### 시중은행 금융지주사

In [18]:
adf1 = fdr.DataReader('BAC', '2022-01-01') #BAC (Bank of America)
adf1 = pd.DataFrame(adf1)
adf1

HTTP Error 429: Too Many Requests  - symbol "BAC" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [19]:
adf2 = fdr.DataReader('C', '2022-01-01') #C (Citigroup)
adf2 = pd.DataFrame(adf2)
adf2

HTTP Error 429: Too Many Requests  - symbol "C" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [20]:
adf3 = fdr.DataReader('WFC', '2022-01-01') #WFC (Wells Fargo)
adf3 = pd.DataFrame(adf3)
adf3

HTTP Error 429: Too Many Requests  - symbol "WFC" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [21]:
adf4 = fdr.DataReader('JPM', '2022-01-01') #JPM (JP Morgan)
adf4 = pd.DataFrame(adf4)
adf4

HTTP Error 429: Too Many Requests  - symbol "JPM" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [22]:
adf5 = fdr.DataReader('GS', '2022-01-01') #GS (Goldman Sachs)
adf5 = pd.DataFrame(adf5)
adf5

HTTP Error 429: Too Many Requests  - symbol "GS" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

### 지방은행 금융지주사

In [23]:
adf6 = fdr.DataReader('USB', '2022-01-01') #USB (US Bancorp)
adf6 = pd.DataFrame(adf6)
adf6

HTTP Error 429: Too Many Requests  - symbol "USB" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [24]:
adf7 = fdr.DataReader('PNC', '2022-01-01') #PNC (PNC Financial Services)
adf7 = pd.DataFrame(adf7)
adf7

HTTP Error 429: Too Many Requests  - symbol "PNC" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [25]:
adf8 = fdr.DataReader('TFC', '2022-01-01') #TFC (Truist Financial)
adf8 = pd.DataFrame(adf8)
adf8

HTTP Error 429: Too Many Requests  - symbol "TFC" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [26]:
adf9 = fdr.DataReader('FITB', '2022-01-01') #FITB (Fifth Third Bancorp)
adf9 = pd.DataFrame(adf9)
adf9

HTTP Error 429: Too Many Requests  - symbol "FITB" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

### 비은행 금융지주사

In [27]:
adf10 = fdr.DataReader('STT', '2022-01-01') #STT (State Street)
adf10 = pd.DataFrame(adf10)
adf10

HTTP Error 429: Too Many Requests  - symbol "STT" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [28]:
adf11 = fdr.DataReader('SCHW', '2022-01-01') #SCHW (Charles Schwab)
adf11 = pd.DataFrame(adf11)
adf11

HTTP Error 429: Too Many Requests  - symbol "SCHW" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [29]:
adf12 = fdr.DataReader('MS', '2022-01-01') #MS (Morgan Stanley)
adf12 = pd.DataFrame(adf12)
adf12

HTTP Error 429: Too Many Requests  - symbol "MS" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [30]:
adf13 = fdr.DataReader('BLK', '2022-01-01') #BLK (BlackRock)
adf13 = pd.DataFrame(adf13)
adf13

HTTP Error 429: Too Many Requests  - symbol "BLK" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [31]:
adf14 = fdr.DataReader('V', '2022-01-01') #V (VanGuard)
adf14 = pd.DataFrame(adf14)
adf14

HTTP Error 429: Too Many Requests  - symbol "V" not found or invalid periods

Empty DataFrame
Columns: []
Index: []

In [32]:
adf10['Close']

KeyError: 'Close'

## 데이터 전처리

### 날짜 분리

In [ ]:
start_date = "2022-01-04"
end_date = "2023-11-27"

In [ ]:
dfs = []  # DataFrame들을 저장할 리스트

for i in range(1, 13):
    df = eval('df{}'.format(i))  # 직접 DataFrame에 접근
    dfs.append(df['Close'])  # 'Close' 열을 리스트에 추가

# DataFrame들을 병합
merged_df = dfs[0]  # 첫 번째 DataFrame으로 시작
for i in range(1, len(dfs)):
    merged_df = pd.merge(merged_df, dfs[i], on='Date', how='inner')

# 병합된 DataFrame 출력
merged_df

In [ ]:
adfs = []  # DataFrame들을 저장할 리스트

for i in range(1, 15):
    adf = eval('adf{}'.format(i))  # 직접 DataFrame에 접근
    adfs.append(adf['Close'])  # 'Close' 열을 리스트에 추가

# DataFrame들을 병합
amerged_df = adfs[0]  # 첫 번째 DataFrame으로 시작
for i in range(1, len(adfs)):
    amerged_df = pd.merge(amerged_df, adfs[i], on='Date', how='inner')

# 병합된 DataFrame 출력
amerged_df

In [ ]:
# 열 이름에 숫자를 붙여 변경
new_columns = [f'Close_{i+1}' for i in range(len(merged_df.columns))]
merged_df.columns = new_columns

# 변경된 열 이름 확인
print(merged_df.columns)
merged_df = pd.DataFrame(merged_df)

In [ ]:
# 열 이름에 숫자를 붙여 변경
new_columns = [f'Close_{i+1}' for i in range(len(amerged_df.columns))]
amerged_df.columns = new_columns

# 변경된 열 이름 확인
print(amerged_df.columns)
amerged_df = pd.DataFrame(amerged_df)

In [ ]:
x.reset_index(inplace=True)
x['Date'] = pd.to_datetime(x['Date'])
x.set_index('Date')
x

In [ ]:
merged_df.reset_index(inplace=True)
merged_df['Date'] = pd.to_datetime(merged_df['Date'])
merged_df.set_index('Date')
merged_df = merged_df[(merged_df["Date"] >= start_date) & (merged_df["Date"] <= end_date)]
merged_df

In [ ]:
amerged_df.reset_index(inplace=True)
amerged_df['Date'] = pd.to_datetime(amerged_df['Date'])
amerged_df.set_index('Date')
amerged_df = amerged_df[(amerged_df["Date"] >= start_date) & (amerged_df["Date"] <= end_date)]
amerged_df

In [ ]:
# 주중, 주말 및 공휴일 설정
weekmask = 'Mon Tue Wed Thu Fri'
weekend = ['Sat', 'Sun']  # 주말 설정
today = datetime.now()
tomorrow = today + timedelta(1)
holidays = pd.to_datetime(['2022-01-01', '2023-11-30'])  # 공휴일 날짜 설정
today = today.strftime('%Y-%m-%d')

# CustomBusinessDay 객체 생성
custom_business_day = CustomBusinessDay(weekmask=weekmask, holidays=holidays, calendar=weekend)

# 주말과 공휴일을 포함한 모든 비즈니스 데이 날짜 생성
business_dates = pd.date_range(start=merged_df['Date'].min(), end=merged_df['Date'].max(), freq=custom_business_day)

# 주말과 공휴일을 포함한 모든 날짜로 데이터프레임 재생성
merged_df.set_index('Date', inplace=True)  # 인덱스 재설정
merged_df = merged_df.reindex(business_dates)

x.set_index('Date', inplace=True)
x = x.reindex(business_dates)

# 결측치를 이전 유효한 값으로 채우기
merged_df = merged_df.fillna(method='ffill')

x = x.fillna(method='bfill')

# 변경된 데이터프레임 출력
merged_df

In [ ]:
# 주말과 공휴일을 포함한 모든 날짜로 데이터프레임 재생성
amerged_df.set_index('Date', inplace=True)  # 인덱스 재설정
amerged_df = amerged_df.reindex(business_dates)

# 결측치를 이전 유효한 값으로 채우기
amerged_df = amerged_df.fillna(method='ffill')

# 변경된 데이터프레임 출력
amerged_df

In [ ]:
x

In [ ]:
merged_df.columns = ['KB', '우리', '하나', '신한', 'DGB', 'BNK', 'JB', '메리츠', '한국금융', '기업', '제주', '카카오']
merged_df

In [ ]:
amerged_df.columns = ['BAC', 'C', 'WFC', 'JPM', 'GS', 'USB', 'PNC', 'TFC', 'FITB', 'STT', 'SCHW', 'MS', 'BLK', 'V']
amerged_df

In [ ]:
merged_df.to_csv('merged_df.csv')

In [ ]:
amerged_df.to_csv('amerged_df.csv')

### 데이터 합치기

In [ ]:
# 시작 날짜와 끝나는 날짜 지정
start_date = "2022-01-04"
end_date = "2023-11-27"

In [ ]:
# 시계열 생성
# df_c['폐업일자'] = pd.to_datetime(df_c['폐업일자'])
# df_c = df_c[(df_c["폐업일자"] >= start_date) & (df_c["폐업일자"] <= end_date)]

# 주말과 공휴일을 포함한 모든 날짜로 데이터프레임 재생성
# df_c.set_index('폐업일자', inplace=True)  # 인덱스 재설정
# df_c = df_c.reindex(business_dates)

# 결측치를 이전 유효한 값으로 채우기
# df_c = df_c.fillna(0)

# # 변경된 데이터프레임 출력
# df_c

In [ ]:
# df_c = pd.DataFrame(df_c['일반음식점'])
# df_c = df_c.astype(int)
# df_c.info()

In [ ]:
# df_c

In [ ]:
x

In [ ]:
x1 = merged_df

In [ ]:
x2 = amerged_df

# 결과

### 미국 연준은행 기준금리 인상 (1차) - 2022/03/16

0.25%

In [ ]:
# 미 연준 금리인상(1차)
pre_period = ['2022-01-04', '2022-03-15']
post_period = ['2022-03-16', '2022-06-29']

In [ ]:
kfirh1 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh1.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh1 = pd.DataFrame(kfirh1, columns=['종목,절대효과,상대효과,p-value'])
kfirh1.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh1.csv', index=False, encoding='ANSI')
kfirh1

### 미국 연준은행 기준금리 인상 (2차) - 2022/05/04

0.5%

In [ ]:
# 미 연준 금리인상(2차)
pre_period = ['2022-01-04', '2022-05-03']
post_period = ['2022-05-04', '2022-06-15']

In [ ]:
kfirh2 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh2.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh2 = pd.DataFrame(kfirh2, columns=['종목,절대효과,상대효과,p-value'])
kfirh2.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh2.csv', index=False, encoding='ANSI')
kfirh2

### 미국 연준은행 기준금리 인상 (3차) - 2022/06/16

0.75%

In [ ]:
# 미 연준 금리인상(3차)
pre_period = ['2022-01-04', '2022-06-15']
post_period = ['2022-06-16', '2022-07-25']

In [ ]:
kfirh3 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh3.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh3 = pd.DataFrame(kfirh3, columns=['종목,절대효과,상대효과,p-value'])
kfirh3.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh3.csv', index=False, encoding='ANSI')
kfirh3

In [ ]:
for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        ci_c = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        print(index)
        print(ci_c.summary())
        ci_c.plot()
        print('____________________________________________________________________________________________________')
    except ValueError as e:
        print(e)

### 미국 연준은행 기준금리 인상 (4차) - 2022/07/28

0.75%

In [ ]:
# 미 연준 금리인상(4차)
pre_period = ['2022-01-04', '2022-07-27']
post_period = ['2022-07-28', '2022-09-19']

In [ ]:
kfirh4 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh4.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh4 = pd.DataFrame(kfirh4, columns=['종목,절대효과,상대효과,p-value'])
kfirh4.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh4.csv', index=False, encoding='ANSI')
kfirh4

### 미국 연준은행 기준금리 인상 (5차) - 2022/09/22

0.75%

In [ ]:
# 미 연준 금리인상(5차)
pre_period = ['2022-01-04', '2022-09-21']
post_period = ['2022-09-22', '2022-10-31']

In [ ]:
kfirh5 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh5.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh5 = pd.DataFrame(kfirh5, columns=['종목,절대효과,상대효과,p-value'])
kfirh5.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh5.csv', index=False, encoding='ANSI')
kfirh5

### 미국 연준은행 기준금리 인상 (6차) - 2022/11/03

0.75%

In [ ]:
# 미국의 소비자 물가지수 상승(6차)
pre_period = ['2022-01-04', '2022-11-02']
post_period = ['2022-11-03', "2022-12-12"]

In [ ]:
kfirh6 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh6.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh6 = pd.DataFrame(kfirh6, columns=['종목,절대효과,상대효과,p-value'])
kfirh6.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh6.csv', index=False, encoding='ANSI')
kfirh6

### 미국 연준은행 기준금리 인상 (7차) - 2022/12/15

0.5%

In [ ]:
# 미국의 소비자 물가지수 상승(7차)
pre_period = ['2022-01-04', '2022-12-14']
post_period = ['2022-12-15', "2023-01-31"]

In [ ]:
kfirh7 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh7.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh7 = pd.DataFrame(kfirh7, columns=['종목,절대효과,상대효과,p-value'])
kfirh7.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh7.csv', index=False, encoding='ANSI')
kfirh7

### 미국 연준은행 기준금리 인상 (8차) - 2023/02/02

0.25%

In [ ]:
# 미국 기준금리 인상(8차)
pre_period = ['2022-01-04', '2023-02-01']
post_period = ['2023-02-02', "2023-03-20"]

In [ ]:
kfirh8 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh8.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh8 = pd.DataFrame(kfirh8, columns=['종목,절대효과,상대효과,p-value'])
kfirh8.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh8.csv', index=False, encoding='ANSI')
kfirh8

### SVB 파산 - 2023/03/10

In [ ]:
# SVB 파산
pre_period = ['2022-01-04', '2023-03-09']
post_period = ['2023-03-10', "2023-06-29"]

In [ ]:
kfirhs = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirhs.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirhs = pd.DataFrame(kfirhs, columns=['종목,절대효과,상대효과,p-value'])
kfirhs.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh_SVB.csv', index=False, encoding='ANSI')
kfirhs

In [ ]:
for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        ci_c = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        print(index)
        print(ci_c.summary())
        ci_c.plot()
        print('____________________________________________________________________________________________________')
    except ValueError as e:
        print(e)

### 미국 연준은행 기준금리 인상 (9차) - 2023/03/23

0.25%

In [ ]:
# 미국 연준의 금리인상(8차)
pre_period = ['2022-01-04', '2023-03-22']
post_period = ['2023-03-23', "2023-05-01"]

In [ ]:
kfirh9 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh9.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh9 = pd.DataFrame(kfirh9, columns=['종목,절대효과,상대효과,p-value'])
kfirh9.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh9.csv', index=False, encoding='ANSI')
kfirh9

### FPB(퍼스트리퍼블릭) 파산 - 2023/05/02

In [ ]:
# FPB 파산
pre_period = ['2022-01-04', '2023-05-01']
post_period = ['2023-05-02', "2023-07-31"]

In [ ]:
kfirhf = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirhf.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirhf = pd.DataFrame(kfirhf, columns=['종목,절대효과,상대효과,p-value'])
kfirhf.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh_FPB.csv', index=False, encoding='ANSI')
kfirhf

In [ ]:
for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        ci_c = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        print(index)
        print(ci_c.summary())
        ci_c.plot()
        print('____________________________________________________________________________________________________')
    except ValueError as e:
        print(e)

### 미국 연준은행 기준금리 인상 (10차) - 2023/05/04

0.25%

In [ ]:
# 미 연준 금리인상(9차)
pre_period = ['2022-01-04', '2023-05-03']
post_period = ['2023-05-04', '2023-07-24']

In [ ]:
kfirh10 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh10.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh10 = pd.DataFrame(kfirh10, columns=['종목,절대효과,상대효과,p-value'])
kfirh10.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh10.csv', index=False, encoding='ANSI')
kfirh10

### 미국 연준은행 기준금리 인상 (11차) - 2023/07/27

0.25%

In [ ]:
# 미 연준 금리인상(11차)
pre_period = ['2022-01-04', '2023-07-26']
post_period = ['2023-07-27', '2023-11-23']

In [ ]:
kfirh11 = []

for index, row in merged_df.iteritems():
    try:
        if row.sum() > 2:
            ci = pd.DataFrame(row).join(x, how='inner')
            ci = ci.join(x2, how = 'left')
        cib = CausalImpact(ci, pre_period, post_period, model_args={'fit_method': 'hmc'}, nseason=[{'period': 12}])
        summary = cib.summary_data.to_dict()
        kfirh11.append([index + "," + str(round(summary['average'].get('abs_effect'),2)) + ',' + str(round((summary['average'].get('rel_effect')*100),2)) + '%,' + str(round(cib.p_value,2))])
    except ValueError as e:
        print(e)

kfirh11 = pd.DataFrame(kfirh11, columns=['종목,절대효과,상대효과,p-value'])
kfirh11.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/paper/firh11.csv', index=False, encoding='ANSI')
kfirh11