In [40]:
import pymysql
import getpass as gp
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [41]:
# conn1 = pymysql.connect(host='127.0.0.1', user='root', password = input(), db='employees', charset='utf8mb4')
# conn2 = pymysql.connect(host='127.0.0.1', user='reader', password = input(), db='employees', charset='utf8mb4')

In [ ]:
# 계정 정보 사전
accounts = {
    'root': {'host': '127.0.0.1', 'db': 'employees'},
    'reader': {'host': '127.0.0.1', 'db': 'employees'},
    'writer': {'host': '127.0.0.1', 'db': 'employees'},
    # 여기에 계정 추가 가능
}

def connect_to_db():
    user = input("ID 입력: ").strip()
    if user not in accounts:
        raise ValueError("등록되지 않은 사용자 ID")

    password = gp.getpass("비밀번호 입력: ")
    info = accounts[user]

    conn = pymysql.connect(
        host=info['host'],
        user=user,
        password=password,
        db=info['db'],
        charset='utf8mb4'
    )
    return conn

def q(query):
    return print(pd.read_sql(query, conn))

In [ ]:
conn = connect_to_db()
q("SELECT current_role();")

  current_role()
0           NONE

In [46]:
q("SELECT user, host, account_locked FROM mysql.user;")

               user          host account_locked
0     role_emp_read             %              Y
1    role_emp_write             %              Y
2            reader     127.0.0.1              N
3            writer     127.0.0.1              N
4            edward  192.168.0.28              N
5  mysql.infoschema     localhost              Y
6     mysql.session     localhost              Y
7         mysql.sys     localhost              Y
8              root     localhost              N