In [34]:
import os
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
# input_folder = 'C:/Users/Edward/Desktop/LOCALDATA_ALL_CSV/'
# output_file = 'merged_and_filtered.csv'
# columns_to_extract = [1, 5, 7, 8, 11, 12, 13, 19, 26, 27]

# merged_data = pd.DataFrame()

# csv_files = [f for f in os.listdir(input_folder) if f.endswith('.csv')]

# for csv_file in csv_files:
#     csv_path = os.path.join(input_folder, csv_file)
#     data = pd.read_csv(csv_path, usecols=columns_to_extract, encoding='cp949')
#     merged_data = pd.concat([merged_data, data], ignore_index=True)

# # 2번 열에서 중복 값이 1개만 있는 행만 선택
# merged_data = merged_data[~(merged_data.duplicated(subset=merged_data.columns[1], keep=False) & 
#                            ~merged_data.duplicated(subset=merged_data.columns[1], keep='first'))]

# merged_data.to_csv(output_file, encoding='utf-8', index=False)

# print(f"모든 CSV 파일이 통합되어 '{output_file}'에 저장되었습니다.")

In [35]:
merged_file_path = 'merged_and_filtered.csv'  # 통합된 CSV 파일의 경로

# CSV 파일을 읽어 DataFrame으로 로드
merged_df = pd.read_csv(merged_file_path)

# DataFrame의 처음 몇 개 행 출력
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10839438 entries, 0 to 10839437
Data columns (total 10 columns):
 #   Column    Dtype
---  ------    -----
 0   개방서비스명    object
 1   인허가일자     object
 2   영업상태구분코드  object
 3   영업상태명     object
 4   폐업일자      object
 5   휴업시작일자    object
 6   휴업종료일자    object
 7   도로명전체주소   object
 8   좌표정보(x)   float64
 9   좌표정보(y)   float64
dtypes: float64(2), object(8)
memory usage: 827.0+ MB

In [36]:
merged_df['개방서비스명'].unique()

array(['병원', '의원', '부속의료기관', '산후조리업', '안전상비의약품 판매업소', '약국', '응급환자이송업',
       '의료법인', '의료유사업', '안경업', '의료기기수리업', '의료기기판매(임대)업', '치과기공소', '동물병원',
       '동물약국', '동물용의료용구판매업', '동물용의약품도매상', '동물장묘업', '동물생산업', '동물판매업',
       '동물수입업', '동물전시업', '동물위탁관리업', '동물미용업', '동물운송업', '가축사육업', '가축인공수정소',
       '도축업', '부화업', '사료제조업', '종축업', '게임물배급업', '게임물제작업', '복합영상물제공업',
       '복합유통게임제공업', '인터넷컴퓨터게임시설제공업', '일반게임제공업', '청소년게임제공업', ' ', '27',
       '공연장', '관광공연장업', '관광극장유흥업', '관광궤도업', '관광사업자', '관광유람선업', '국제회의시설업',
       '박물관, 미술관', '시내순환관광업', '유원시설업(기타)', '일반유원시설업', '전문휴양업', '전통사찰',
       'N', ' 부속암자로 내원암·벽운암·대적암·은서암·아적암 등 다섯 암자도 중창 또는 창건되었다."',
       ' 고려 정종 원년(946년)에 선각대사가 삼창하고 "모옥사" 라 개칭 하였으며',
       ' 조선초기 세종때 행호주지가 대규모 중창 불사를 하여 옛 모습을 회복하게 되었으며', ' 예전에 이물을 바르고 백일',
       nan, ' 요사', ' 일본의 자료에 의하면 "대한제국때', '종합유원시설업', '종합휴양업', '지방문화원',
       '국제회의기획업', '대중문화예술기획업', '문화예술법인', ' 문체국 소관단체가 아님"', ' 고아원',
       ' 목적사업을 지속하여 2년 이상 중단하지 말 것',
       ' 목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사업 이외의 용도로 사용하지 않을 것',
       ' 2개 도시를 초과할 경우 문화체육관광부의 변경허가를 받을 것"', ' 교육기관의 설치경영 및 보조',
       '노래연습장업', '비디오물감상실업', '비디오물배급업', '비디오물소극장업', '비디오물시청제공업',
       '비디오물제작업', '관광숙박업', '관광펜션업', '숙박업', '외국인관광도시민박업', '자동차야영장업',
       '한옥체험업', '일반야영장업', '농어촌민박업', '국내여행업', '국내외여행업', '종합여행업', '영화배급업',
       '영화상영관', '영화상영업', '영화수입업', '영화제작업', '온라인음악서비스제공업', '음반.음악영상물배급업',
       '음반.음악영상물제작업', '음반물배급업', '음반물제작업', '옥외광고업', '인쇄사', '출판사', '미용업',
       '이용업', '세탁업', '의료기관세탁물처리업', '위탁급식영업', '집단급식소', '집단급식소식품판매업',
       '건강기능식품유통전문판매업', '건강기능식품일반판매업', '축산판매업', '축산가공업', '식육포장처리업',
       '식품냉동냉장업', '식품소분업', '식품운반업', '식품자동판매기업', '식품제조가공업', '식품첨가물제조업',
       '식품판매업(기타)', '옹기류제조업', '용기·포장지제조업', '용기냉동기특정설비', '유통전문판매업',
       '제과점영업', '즉석판매제조가공업', '집유업', '식용얼음판매업', '축산물보관업', '축산물운반업',
       '단란주점영업', '유흥주점영업', '관광식당', '관광유흥음식점업', '외국인전용유흥음식점업', '일반음식점',
       '휴게음식점', '대규모점포', '다단계판매업체', '방문판매업', '전화권유판매업', '통신판매업',
       '후원방문판매업체', '목재수입유통업', '원목생산업', '제재업', '계량기수리업', '계량기수입업',
       '계량기제조업', '계량기증명업', '고압가스업', '석연탄제조업', '석유및석유대체연료판매업체', '석유판매업',
       '액화석유가스용품제조업체', '일반도시가스업체', '전력기술감리업체', '전력기술설계업체', '특정고압가스업',
       '지하수시공업체', '0', '지하수영향조사기관', '지하수정화업체', '가축분뇨 수집운반업',
       '가축분뇨배출시설관리업(사업장)', '개인하수처리시설관리업(사업장)', '건물위생관리업', '건설폐기물처리업',
       '급수공사대행업', '단독정화조/오수처리시설설계시공업', '대기오염물질배출시설설치사업장',
       '배출가스전문정비사업자(확인검사대행자)', '분뇨수집운반업', '소독업', '수질오염원설치시설(기타)',
       '쓰레기종량제봉투판매업', '저수조청소업', '환경관리대행기관', '환경전문공사업', '환경측정대행업',
       '환경컨설팅회사', '골프연습장업', '골프장', '등록체육시설업', '당구장업', '무도장업', '무도학원업',
       '빙상장업', '수영장업', '스키장', '종합체육시설업', '승마장업', '썰매장업', '요트장업', '체육도장업',
       '체력단련장업', '담배도매업', '담배소매업', '담배수입판매업체', '목욕장업', '국제물류주선업',
       '물류창고업체', '민방위급수시설', '상조업', '승강기유지관리업체', '승강기제조및수입업체', '요양보호사교육기관',
       '장례지도사 교육기관', '무료직업소개소', '유료직업소개소'], dtype=object)

In [37]:
merged_df['개방서비스명'].nunique()

211

In [38]:
del_df = merged_df[~merged_df.duplicated('개방서비스명', keep=False)]
del_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y)
1005848,27,0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1041390,"부속암자로 내원암·벽운암·대적암·은서암·아적암 등 다섯 암자도 중창 또는 창건되었다.""",반룡사,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1041455,"고려 정종 원년(946년)에 선각대사가 삼창하고 ""모옥사"" 라 개칭 하였으며",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1041458,조선초기 세종때 행호주지가 대규모 중창 불사를 하여 옛 모습을 회복하게 되었으며,명부전,"요사채 등의 건물이 남아 있다.""",N,백련사,NaN,NaN,NaN,NaN,NaN
1041544,예전에 이물을 바르고 백일,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1041546,요사,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1041612,"일본의 자료에 의하면 ""대한제국때",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1051623,"문체국 소관단체가 아님""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052064,고아원,NaN,사단법인 안디옥,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054852,"2개 도시를 초과할 경우 문화체육관광부의 변경허가를 받을 것""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1055127,교육기관의 설치경영 및 보조,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9594241,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
merged_df = merged_df[merged_df.duplicated('개방서비스명') | merged_df.duplicated('개방서비스명', keep=False)]
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y)
0,병원,1998-04-06,1.0,영업/정상,NaN,NaN,NaN,충청북도 음성군 생극면 일생로 516,251238.161964,392372.936986
1,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,충청북도 청주시 상당구 단재로 635 (사서함 335-21),247129.428059,342190.514141
2,병원,2018-01-10,1.0,영업/정상,NaN,NaN,NaN,"충청북도 청주시 서원구 산남로 56, 에버프라자 (산남동)",241784.339339,345686.547386
3,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,서울특별시 중랑구 사가정로49길 53 (면목동),207545.431398,453474.580080
4,병원,2006-12-01,1.0,영업/정상,NaN,NaN,NaN,서울특별시 영등포구 양평로22사길 9 (양평동5가),190648.410813,448737.352191
...,...,...,...,...,...,...,...,...,...,...
10839433,유료직업소개소,2013-04-26,1,영업/정상,NaN,NaN,NaN,광주광역시 남구 서문대로795번길 5 (주월동),190641.474952,181255.146060
10839434,유료직업소개소,2015-07-01,1,영업/정상,NaN,NaN,NaN,"부산광역시 해운대구 재반로 240, 3층 (반여동)",394047.328919,190900.937133
10839435,유료직업소개소,2010-11-16,1,영업/정상,NaN,NaN,NaN,부산광역시 서구 자갈치로 1 (충무동1가),384562.533290,179361.298668
10839436,유료직업소개소,2010-03-25,1,영업/정상,NaN,NaN,NaN,NaN,356956.306291,260221.620511
10839437,유료직업소개소,2003-05-07,1,영업/정상,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
merged_df['개방서비스명'].unique()

array(['병원', '의원', '부속의료기관', '산후조리업', '안전상비의약품 판매업소', '약국', '응급환자이송업',
       '의료법인', '의료유사업', '안경업', '의료기기수리업', '의료기기판매(임대)업', '치과기공소', '동물병원',
       '동물약국', '동물용의료용구판매업', '동물용의약품도매상', '동물장묘업', '동물생산업', '동물판매업',
       '동물수입업', '동물전시업', '동물위탁관리업', '동물미용업', '동물운송업', '가축사육업', '가축인공수정소',
       '도축업', '부화업', '사료제조업', '종축업', '게임물배급업', '게임물제작업', '복합영상물제공업',
       '복합유통게임제공업', '인터넷컴퓨터게임시설제공업', '일반게임제공업', '청소년게임제공업', ' ', '공연장',
       '관광공연장업', '관광극장유흥업', '관광궤도업', '관광사업자', '관광유람선업', '국제회의시설업',
       '박물관, 미술관', '시내순환관광업', '유원시설업(기타)', '일반유원시설업', '전문휴양업', '전통사찰',
       'N', nan, '종합유원시설업', '종합휴양업', '지방문화원', '국제회의기획업', '대중문화예술기획업',
       '문화예술법인', ' 목적사업을 지속하여 2년 이상 중단하지 말 것',
       ' 목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사업 이외의 용도로 사용하지 않을 것',
       '노래연습장업', '비디오물감상실업', '비디오물배급업', '비디오물소극장업', '비디오물시청제공업',
       '비디오물제작업', '관광숙박업', '관광펜션업', '숙박업', '외국인관광도시민박업', '자동차야영장업',
       '한옥체험업', '일반야영장업', '농어촌민박업', '국내여행업', '국내외여행업', '종합여행업', '영화배급업',
       '영화상영관', '영화상영업', '영화수입업', '영화제작업', '온라인음악서비스제공업', '음반.음악영상물배급업',
       '음반.음악영상물제작업', '음반물배급업', '음반물제작업', '옥외광고업', '인쇄사', '출판사', '미용업',
       '이용업', '세탁업', '의료기관세탁물처리업', '위탁급식영업', '집단급식소', '집단급식소식품판매업',
       '건강기능식품유통전문판매업', '건강기능식품일반판매업', '축산판매업', '축산가공업', '식육포장처리업',
       '식품냉동냉장업', '식품소분업', '식품운반업', '식품자동판매기업', '식품제조가공업', '식품첨가물제조업',
       '식품판매업(기타)', '옹기류제조업', '용기·포장지제조업', '용기냉동기특정설비', '유통전문판매업',
       '제과점영업', '즉석판매제조가공업', '집유업', '식용얼음판매업', '축산물보관업', '축산물운반업',
       '단란주점영업', '유흥주점영업', '관광식당', '관광유흥음식점업', '외국인전용유흥음식점업', '일반음식점',
       '휴게음식점', '대규모점포', '다단계판매업체', '방문판매업', '전화권유판매업', '통신판매업',
       '후원방문판매업체', '목재수입유통업', '원목생산업', '제재업', '계량기수리업', '계량기수입업',
       '계량기제조업', '계량기증명업', '고압가스업', '석연탄제조업', '석유및석유대체연료판매업체', '석유판매업',
       '액화석유가스용품제조업체', '일반도시가스업체', '전력기술감리업체', '전력기술설계업체', '특정고압가스업',
       '지하수시공업체', '지하수영향조사기관', '지하수정화업체', '가축분뇨 수집운반업',
       '가축분뇨배출시설관리업(사업장)', '개인하수처리시설관리업(사업장)', '건물위생관리업', '건설폐기물처리업',
       '급수공사대행업', '단독정화조/오수처리시설설계시공업', '대기오염물질배출시설설치사업장',
       '배출가스전문정비사업자(확인검사대행자)', '분뇨수집운반업', '소독업', '수질오염원설치시설(기타)',
       '쓰레기종량제봉투판매업', '저수조청소업', '환경관리대행기관', '환경전문공사업', '환경측정대행업',
       '환경컨설팅회사', '골프연습장업', '골프장', '등록체육시설업', '당구장업', '무도장업', '무도학원업',
       '빙상장업', '수영장업', '스키장', '종합체육시설업', '승마장업', '썰매장업', '요트장업', '체육도장업',
       '체력단련장업', '담배도매업', '담배소매업', '담배수입판매업체', '목욕장업', '국제물류주선업',
       '물류창고업체', '민방위급수시설', '상조업', '승강기유지관리업체', '승강기제조및수입업체', '요양보호사교육기관',
       '장례지도사 교육기관', '무료직업소개소', '유료직업소개소'], dtype=object)

In [41]:
threshold = 5  # 중복 개수의 임계값
counts = merged_df['개방서비스명'].value_counts()
values_to_keep = counts[counts <= threshold].index
df_filtered = merged_df[merged_df['개방서비스명'].isin(values_to_keep)]
df_filtered

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y)
1005846,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1005847,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1053138,목적사업을 지속하여 2년 이상 중단하지 말 것,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1053139,목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054849,목적사업을 지속하여 2년 이상 중단하지 말 것,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054850,목적사업을 위한 부대사업(수익사업)을 주된 사업으로 운영하거나 그 수익금을 목적사...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
merged_df = merged_df.groupby('개방서비스명').filter(lambda x: len(x) > threshold)
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y)
0,병원,1998-04-06,1.0,영업/정상,NaN,NaN,NaN,충청북도 음성군 생극면 일생로 516,251238.161964,392372.936986
1,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,충청북도 청주시 상당구 단재로 635 (사서함 335-21),247129.428059,342190.514141
2,병원,2018-01-10,1.0,영업/정상,NaN,NaN,NaN,"충청북도 청주시 서원구 산남로 56, 에버프라자 (산남동)",241784.339339,345686.547386
3,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,서울특별시 중랑구 사가정로49길 53 (면목동),207545.431398,453474.580080
4,병원,2006-12-01,1.0,영업/정상,NaN,NaN,NaN,서울특별시 영등포구 양평로22사길 9 (양평동5가),190648.410813,448737.352191
...,...,...,...,...,...,...,...,...,...,...
10839433,유료직업소개소,2013-04-26,1,영업/정상,NaN,NaN,NaN,광주광역시 남구 서문대로795번길 5 (주월동),190641.474952,181255.146060
10839434,유료직업소개소,2015-07-01,1,영업/정상,NaN,NaN,NaN,"부산광역시 해운대구 재반로 240, 3층 (반여동)",394047.328919,190900.937133
10839435,유료직업소개소,2010-11-16,1,영업/정상,NaN,NaN,NaN,부산광역시 서구 자갈치로 1 (충무동1가),384562.533290,179361.298668
10839436,유료직업소개소,2010-03-25,1,영업/정상,NaN,NaN,NaN,NaN,356956.306291,260221.620511
10839437,유료직업소개소,2003-05-07,1,영업/정상,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
print(merged_df['개방서비스명'].nunique())
print(merged_df['개방서비스명'].unique())

196
['병원' '의원' '부속의료기관' '산후조리업' '안전상비의약품 판매업소' '약국' '응급환자이송업' '의료법인' '의료유사업'
 '안경업' '의료기기수리업' '의료기기판매(임대)업' '치과기공소' '동물병원' '동물약국' '동물용의료용구판매업'
 '동물용의약품도매상' '동물장묘업' '동물생산업' '동물판매업' '동물수입업' '동물전시업' '동물위탁관리업' '동물미용업'
 '동물운송업' '가축사육업' '가축인공수정소' '도축업' '부화업' '사료제조업' '종축업' '게임물배급업' '게임물제작업'
 '복합영상물제공업' '복합유통게임제공업' '인터넷컴퓨터게임시설제공업' '일반게임제공업' '청소년게임제공업' '공연장'
 '관광공연장업' '관광극장유흥업' '관광궤도업' '관광사업자' '관광유람선업' '국제회의시설업' '박물관, 미술관'
 '시내순환관광업' '유원시설업(기타)' '일반유원시설업' '전문휴양업' '전통사찰' 'N' '종합유원시설업' '종합휴양업'
 '지방문화원' '국제회의기획업' '대중문화예술기획업' '문화예술법인' '노래연습장업' '비디오물감상실업' '비디오물배급업'
 '비디오물소극장업' '비디오물시청제공업' '비디오물제작업' '관광숙박업' '관광펜션업' '숙박업' '외국인관광도시민박업'
 '자동차야영장업' '한옥체험업' '일반야영장업' '농어촌민박업' '국내여행업' '국내외여행업' '종합여행업' '영화배급업'
 '영화상영관' '영화상영업' '영화수입업' '영화제작업' '온라인음악서비스제공업' '음반.음악영상물배급업' '음반.음악영상물제작업'
 '음반물배급업' '음반물제작업' '옥외광고업' '인쇄사' '출판사' '미용업' '이용업' '세탁업' '의료기관세탁물처리업'
 '위탁급식영업' '집단급식소' '집단급식소식품판매업' '건강기능식품유통전문판매업' '건강기능식품일반판매업' '축산판매업'
 '축산가공업' '식육포장처리업' '식품냉동냉장업' '식품소분업' '식품운반업' '식품자동판매기업' '식품제조가공업'
 '식품첨가물제조업' '식품판매업(기타)' '옹기류제조업' '용기·포장지제조업' '용기냉동기특정설비' '유통전문판매업' '제과점영업'
 '즉석판매제조가공업' '집유업' '식용얼음판매업' '축산물보관업' '축산물운반업' '단란주점영업' '유흥주점영업' '관광식당'
 '관광유흥음식점업' '외국인전용유흥음식점업' '일반음식점' '휴게음식점' '대규모점포' '다단계판매업체' '방문판매업'
 '전화권유판매업' '통신판매업' '후원방문판매업체' '목재수입유통업' '원목생산업' '제재업' '계량기수리업' '계량기수입업'
 '계량기제조업' '계량기증명업' '고압가스업' '석연탄제조업' '석유및석유대체연료판매업체' '석유판매업' '액화석유가스용품제조업체'
 '일반도시가스업체' '전력기술감리업체' '전력기술설계업체' '특정고압가스업' '지하수시공업체' '지하수영향조사기관'
 '지하수정화업체' '가축분뇨 수집운반업' '가축분뇨배출시설관리업(사업장)' '개인하수처리시설관리업(사업장)' '건물위생관리업'
 '건설폐기물처리업' '급수공사대행업' '단독정화조/오수처리시설설계시공업' '대기오염물질배출시설설치사업장'
 '배출가스전문정비사업자(확인검사대행자)' '분뇨수집운반업' '소독업' '수질오염원설치시설(기타)' '쓰레기종량제봉투판매업'
 '저수조청소업' '환경관리대행기관' '환경전문공사업' '환경측정대행업' '환경컨설팅회사' '골프연습장업' '골프장'
 '등록체육시설업' '당구장업' '무도장업' '무도학원업' '빙상장업' '수영장업' '스키장' '종합체육시설업' '승마장업'
 '썰매장업' '요트장업' '체육도장업' '체력단련장업' '담배도매업' '담배소매업' '담배수입판매업체' '목욕장업'
 '국제물류주선업' '물류창고업체' '민방위급수시설' '상조업' '승강기유지관리업체' '승강기제조및수입업체' '요양보호사교육기관'
 '장례지도사 교육기관' '무료직업소개소' '유료직업소개소']

In [44]:
value_to_remove = 'N'
merged_df = merged_df[merged_df['개방서비스명'] != value_to_remove]
print(merged_df['개방서비스명'].nunique())
print(merged_df['개방서비스명'].unique())

195
['병원' '의원' '부속의료기관' '산후조리업' '안전상비의약품 판매업소' '약국' '응급환자이송업' '의료법인' '의료유사업'
 '안경업' '의료기기수리업' '의료기기판매(임대)업' '치과기공소' '동물병원' '동물약국' '동물용의료용구판매업'
 '동물용의약품도매상' '동물장묘업' '동물생산업' '동물판매업' '동물수입업' '동물전시업' '동물위탁관리업' '동물미용업'
 '동물운송업' '가축사육업' '가축인공수정소' '도축업' '부화업' '사료제조업' '종축업' '게임물배급업' '게임물제작업'
 '복합영상물제공업' '복합유통게임제공업' '인터넷컴퓨터게임시설제공업' '일반게임제공업' '청소년게임제공업' '공연장'
 '관광공연장업' '관광극장유흥업' '관광궤도업' '관광사업자' '관광유람선업' '국제회의시설업' '박물관, 미술관'
 '시내순환관광업' '유원시설업(기타)' '일반유원시설업' '전문휴양업' '전통사찰' '종합유원시설업' '종합휴양업' '지방문화원'
 '국제회의기획업' '대중문화예술기획업' '문화예술법인' '노래연습장업' '비디오물감상실업' '비디오물배급업' '비디오물소극장업'
 '비디오물시청제공업' '비디오물제작업' '관광숙박업' '관광펜션업' '숙박업' '외국인관광도시민박업' '자동차야영장업'
 '한옥체험업' '일반야영장업' '농어촌민박업' '국내여행업' '국내외여행업' '종합여행업' '영화배급업' '영화상영관'
 '영화상영업' '영화수입업' '영화제작업' '온라인음악서비스제공업' '음반.음악영상물배급업' '음반.음악영상물제작업'
 '음반물배급업' '음반물제작업' '옥외광고업' '인쇄사' '출판사' '미용업' '이용업' '세탁업' '의료기관세탁물처리업'
 '위탁급식영업' '집단급식소' '집단급식소식품판매업' '건강기능식품유통전문판매업' '건강기능식품일반판매업' '축산판매업'
 '축산가공업' '식육포장처리업' '식품냉동냉장업' '식품소분업' '식품운반업' '식품자동판매기업' '식품제조가공업'
 '식품첨가물제조업' '식품판매업(기타)' '옹기류제조업' '용기·포장지제조업' '용기냉동기특정설비' '유통전문판매업' '제과점영업'
 '즉석판매제조가공업' '집유업' '식용얼음판매업' '축산물보관업' '축산물운반업' '단란주점영업' '유흥주점영업' '관광식당'
 '관광유흥음식점업' '외국인전용유흥음식점업' '일반음식점' '휴게음식점' '대규모점포' '다단계판매업체' '방문판매업'
 '전화권유판매업' '통신판매업' '후원방문판매업체' '목재수입유통업' '원목생산업' '제재업' '계량기수리업' '계량기수입업'
 '계량기제조업' '계량기증명업' '고압가스업' '석연탄제조업' '석유및석유대체연료판매업체' '석유판매업' '액화석유가스용품제조업체'
 '일반도시가스업체' '전력기술감리업체' '전력기술설계업체' '특정고압가스업' '지하수시공업체' '지하수영향조사기관'
 '지하수정화업체' '가축분뇨 수집운반업' '가축분뇨배출시설관리업(사업장)' '개인하수처리시설관리업(사업장)' '건물위생관리업'
 '건설폐기물처리업' '급수공사대행업' '단독정화조/오수처리시설설계시공업' '대기오염물질배출시설설치사업장'
 '배출가스전문정비사업자(확인검사대행자)' '분뇨수집운반업' '소독업' '수질오염원설치시설(기타)' '쓰레기종량제봉투판매업'
 '저수조청소업' '환경관리대행기관' '환경전문공사업' '환경측정대행업' '환경컨설팅회사' '골프연습장업' '골프장'
 '등록체육시설업' '당구장업' '무도장업' '무도학원업' '빙상장업' '수영장업' '스키장' '종합체육시설업' '승마장업'
 '썰매장업' '요트장업' '체육도장업' '체력단련장업' '담배도매업' '담배소매업' '담배수입판매업체' '목욕장업'
 '국제물류주선업' '물류창고업체' '민방위급수시설' '상조업' '승강기유지관리업체' '승강기제조및수입업체' '요양보호사교육기관'
 '장례지도사 교육기관' '무료직업소개소' '유료직업소개소']

In [45]:
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y)
0,병원,1998-04-06,1.0,영업/정상,NaN,NaN,NaN,충청북도 음성군 생극면 일생로 516,251238.161964,392372.936986
1,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,충청북도 청주시 상당구 단재로 635 (사서함 335-21),247129.428059,342190.514141
2,병원,2018-01-10,1.0,영업/정상,NaN,NaN,NaN,"충청북도 청주시 서원구 산남로 56, 에버프라자 (산남동)",241784.339339,345686.547386
3,병원,1900-01-01,1.0,영업/정상,NaN,NaN,NaN,서울특별시 중랑구 사가정로49길 53 (면목동),207545.431398,453474.580080
4,병원,2006-12-01,1.0,영업/정상,NaN,NaN,NaN,서울특별시 영등포구 양평로22사길 9 (양평동5가),190648.410813,448737.352191
...,...,...,...,...,...,...,...,...,...,...
10839433,유료직업소개소,2013-04-26,1,영업/정상,NaN,NaN,NaN,광주광역시 남구 서문대로795번길 5 (주월동),190641.474952,181255.146060
10839434,유료직업소개소,2015-07-01,1,영업/정상,NaN,NaN,NaN,"부산광역시 해운대구 재반로 240, 3층 (반여동)",394047.328919,190900.937133
10839435,유료직업소개소,2010-11-16,1,영업/정상,NaN,NaN,NaN,부산광역시 서구 자갈치로 1 (충무동1가),384562.533290,179361.298668
10839436,유료직업소개소,2010-03-25,1,영업/정상,NaN,NaN,NaN,NaN,356956.306291,260221.620511
10839437,유료직업소개소,2003-05-07,1,영업/정상,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
merged_df['인허가일자'] = pd.to_datetime(merged_df['인허가일자'], errors='coerce')

# 기간 설정 2020년 1월 1일부터 지금까지
start_date = '2020-01-01'
end_date = '2024-10-31'
mask = (merged_df['인허가일자'] >= start_date) & (merged_df['인허가일자'] <= end_date)
merged_df = merged_df.loc[mask]
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y)
10,병원,2022-04-26,1.0,영업/정상,NaN,NaN,NaN,"인천광역시 남동구 석촌로 21, 인천국제한방병원 (간석동)",174177.518679,440066.646396
11,병원,2023-08-21,1.0,영업/정상,NaN,NaN,NaN,"광주광역시 남구 회재로 1261, 3~6층 (주월동)",190669.185031,181755.177344
12,병원,2023-08-25,1.0,영업/정상,NaN,NaN,NaN,"대구광역시 달성군 현풍읍 테크노상업로 30, 3층~7층 일부, 8층, 9층 & 테크...",331393.936784,244500.705818
13,병원,2023-08-18,1.0,영업/정상,NaN,NaN,NaN,"세종특별자치시 나성북로 15, MVG 4-7층 (나성동)",223082.154561,332111.535874
39,병원,2023-06-27,1.0,영업/정상,NaN,NaN,NaN,"서울특별시 서초구 방배로 151, 지하1층일부,2~5층 (방배동)",199360.582882,442777.806242
...,...,...,...,...,...,...,...,...,...,...
10839409,유료직업소개소,2023-11-20,3,폐업,2024-05-02,NaN,NaN,"경기도 수원시 영통구 중부대로 274, 1층 (매탄동)",203988.751861,419101.876888
10839410,유료직업소개소,2023-11-20,3,폐업,2024-04-22,NaN,NaN,전라남도 순천시 팔마1길 10 (연향동),246875.413685,159485.174215
10839411,유료직업소개소,2023-12-01,3,폐업,2024-04-05,NaN,NaN,"경기도 안산시 단원구 다문화길 13, 3층 301호 (원곡동)",181328.095000,425284.055000
10839412,유료직업소개소,2023-11-27,3,폐업,2024-07-05,NaN,NaN,경기도 여주시 여흥로33번길 17 (하동),255645.985782,422171.177742
10839430,유료직업소개소,2021-08-03,4,취소/말소/만료/정지/중지,NaN,NaN,NaN,"경기도 군포시 군포로 508, 1층 (당동)",195066.397116,427723.535031

In [47]:
merged_df.to_csv('merged_license.csv', encoding='utf-8', index=False)

In [48]:
merged_df['인허가일자'] = pd.to_datetime(merged_df['인허가일자'], errors='coerce')
merged_df['폐업일자'] = pd.to_datetime(merged_df['폐업일자'], errors='coerce')
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2819776 entries, 10 to 10839430
Data columns (total 10 columns):
 #   Column    Dtype
---  ------    -----
 0   개방서비스명    object
 1   인허가일자     datetime64[ns]
 2   영업상태구분코드  object
 3   영업상태명     object
 4   폐업일자      datetime64[ns]
 5   휴업시작일자    object
 6   휴업종료일자    object
 7   도로명전체주소   object
 8   좌표정보(x)   float64
 9   좌표정보(y)   float64
dtypes: datetime64[ns](2), float64(2), object(6)
memory usage: 236.6+ MB

In [49]:
merged_df['기준'] = 1

In [50]:
df_o = merged_df[merged_df['영업상태구분코드'] == 1]
df_c = merged_df[merged_df['영업상태구분코드'] == 3]
a = [1,3]
df_w = merged_df[~merged_df['영업상태구분코드'].isin(a)]
df_r = merged_df[merged_df['휴업시작일자'].notnull() & merged_df['폐업일자'].isnull()]

In [51]:
df_w

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y),기준
3464,병원,2021-04-29,2.0,휴업,NaT,2024-01-11,2025-01-10,충청남도 태안군 태안읍 정주내1길 13-0 (혜민한방병원),137813.950589,360637.922147,1
3465,병원,2024-07-16,2.0,휴업,NaT,2024-08-26,2024-11-25,충청남도 천안시 동남구 병천면 충절로 1782,226969.229950,362368.387250,1
3472,병원,2024-03-08,2.0,휴업,NaT,2024-05-13,2024-12-31,대구광역시 서구 서대구로 194 (평리동),340375.784448,265015.921291,1
3481,병원,2021-08-06,2.0,휴업,NaT,2023-11-20,2024-11-19,경기도 양주시 화합로 1489(고암동),206365.941332,481777.561904,1
3482,병원,2023-01-12,2.0,휴업,NaT,2024-08-14,2025-02-14,"전라남도 순천시 환선로 7-0, 3,6,9,10층 (동외동,청보빌딩)",244399.092747,162017.102669,1
...,...,...,...,...,...,...,...,...,...,...,...
10788551,유료직업소개소,2021-04-06,4,취소/말소/만료/정지/중지,2024-07-05,NaN,NaN,"서울특별시 광진구 아차산로78길 44, 크레스코빌딩 712호 (광장동)",209637.078216,449832.485938,1
10788679,유료직업소개소,2022-08-03,4,취소/말소/만료/정지/중지,2023-10-06,NaN,NaN,"울산광역시 남구 신선로 179, KT남울산지사 3층 305호 (야음동)",411443.694256,227314.471010,1
10788901,유료직업소개소,2020-12-18,4,취소/말소/만료/정지/중지,2024-06-28,NaN,NaN,"경기도 군포시 산본로323번길 4-25, 서련빌딩 701,702호 중 가칭 701호...",193929.157662,428707.619440,1
10788902,유료직업소개소,2021-05-04,4,취소/말소/만료/정지/중지,2022-07-07,NaN,NaN,전라남도 해남군 화원면 청용새길 40,138373.581371,129900.326170,1
10839430,유료직업소개소,2021-08-03,4,취소/말소/만료/정지/중지,NaT,NaN,NaN,"경기도 군포시 군포로 508, 1층 (당동)",195066.397116,427723.535031,1

In [52]:
df_r

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y),기준
3464,병원,2021-04-29,2.0,휴업,NaT,2024-01-11,2025-01-10,충청남도 태안군 태안읍 정주내1길 13-0 (혜민한방병원),137813.950589,360637.922147,1
3465,병원,2024-07-16,2.0,휴업,NaT,2024-08-26,2024-11-25,충청남도 천안시 동남구 병천면 충절로 1782,226969.229950,362368.387250,1
3472,병원,2024-03-08,2.0,휴업,NaT,2024-05-13,2024-12-31,대구광역시 서구 서대구로 194 (평리동),340375.784448,265015.921291,1
3481,병원,2021-08-06,2.0,휴업,NaT,2023-11-20,2024-11-19,경기도 양주시 화합로 1489(고암동),206365.941332,481777.561904,1
3482,병원,2023-01-12,2.0,휴업,NaT,2024-08-14,2025-02-14,"전라남도 순천시 환선로 7-0, 3,6,9,10층 (동외동,청보빌딩)",244399.092747,162017.102669,1
...,...,...,...,...,...,...,...,...,...,...,...
10781266,승강기유지관리업체,2021-11-01,2,휴업,NaT,2023-10-06,2023-10-06,"경기도 군포시 군포첨단산업2로7번길 8, 군포 에이스 더블유밸리 1032호 (부곡동)",NaN,NaN,1
10784439,요양보호사교육기관,2022-04-11,2,휴업,NaT,2023-01-01,NaN,"서울특별시 양천구 목동중앙북로22길 7, 3층(목동)",NaN,NaN,1
10784442,요양보호사교육기관,2021-02-04,2,휴업,NaT,2022-12-01,NaN,강원특별자치도 원주시 능라동길 48-1 (무실동),NaN,NaN,1
10784443,요양보호사교육기관,2022-02-10,2,휴업,NaT,2023-03-17,NaN,"강원특별자치도 춘천시 신흥길5번길 4, 2층(우두동)",NaN,NaN,1
10784445,요양보호사교육기관,2023-04-12,2,휴업,NaT,2024-05-01,NaN,"경기도 수원시 팔달구 세지로 271, 3층 301~304호(인계동)",NaN,NaN,1

In [53]:
df_o

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y),기준
10,병원,2022-04-26,1.0,영업/정상,NaT,NaN,NaN,"인천광역시 남동구 석촌로 21, 인천국제한방병원 (간석동)",174177.518679,440066.646396,1
11,병원,2023-08-21,1.0,영업/정상,NaT,NaN,NaN,"광주광역시 남구 회재로 1261, 3~6층 (주월동)",190669.185031,181755.177344,1
12,병원,2023-08-25,1.0,영업/정상,NaT,NaN,NaN,"대구광역시 달성군 현풍읍 테크노상업로 30, 3층~7층 일부, 8층, 9층 & 테크...",331393.936784,244500.705818,1
13,병원,2023-08-18,1.0,영업/정상,NaT,NaN,NaN,"세종특별자치시 나성북로 15, MVG 4-7층 (나성동)",223082.154561,332111.535874,1
39,병원,2023-06-27,1.0,영업/정상,NaT,NaN,NaN,"서울특별시 서초구 방배로 151, 지하1층일부,2~5층 (방배동)",199360.582882,442777.806242,1
...,...,...,...,...,...,...,...,...,...,...,...
10803365,유료직업소개소,2023-12-04,1,영업/정상,NaT,NaN,NaN,"대구광역시 중구 명륜로 150, 2층 (대봉동)",344492.510791,263418.210747,1
10803366,유료직업소개소,2023-12-04,1,영업/정상,NaT,NaN,NaN,"경기도 안산시 단원구 화랑로 402, 신원빌딩 3층 303-1호 (고잔동)",185075.778287,424318.441583,1
10803367,유료직업소개소,2023-11-27,1,영업/정상,NaT,NaN,NaN,"경기도 김포시 사우중로 52, 김포아트프라자 516호 (사우동)",175157.898425,457486.173634,1
10803368,유료직업소개소,2023-09-22,1,영업/정상,NaT,NaN,NaN,"충청북도 제천시 의병대로26길 5, 1층 (동현동)",308064.339274,404274.278037,1
10803369,유료직업소개소,2022-06-29,1,영업/정상,NaT,NaN,NaN,"부산광역시 사상구 사상로 208-1, 티오피 10층 1004호 (괘법동)",380727.833838,186745.153454,1

In [54]:
df_c

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y),기준
2135,병원,2020-04-22,3.0,폐업,2021-12-25,NaN,NaN,"경기도 화성시 동탄신리천로 411, 4,5층 (목동)",210969.342913,408985.606434,1
2169,병원,2023-07-14,3.0,폐업,2024-02-28,NaN,NaN,"경기도 동두천시 평화로2169번길 22, 태성빌딩 (송내동)",204648.520546,486550.035303,1
2170,병원,2023-07-06,3.0,폐업,2024-02-21,2023-12-15,2024-02-20,경상남도 합천군 합천읍 대야로 890,305425.903312,230407.058508,1
2171,병원,2023-08-18,3.0,폐업,2024-06-11,NaN,NaN,"충청남도 아산시 탕정면 한들물빛6로 14, 5.6.7층",207480.363124,365115.779519,1
2300,병원,2023-06-23,3.0,폐업,2024-09-04,NaN,NaN,"대구광역시 수성구 명덕로 414, 9-12층 (수성동2가)",345857.221203,262762.602556,1
...,...,...,...,...,...,...,...,...,...,...,...
10839408,유료직업소개소,2023-12-01,3,폐업,2024-05-29,NaN,NaN,"전라남도 순천시 해룡면 향매로 135, 102호",250550.189091,159454.596246,1
10839409,유료직업소개소,2023-11-20,3,폐업,2024-05-02,NaN,NaN,"경기도 수원시 영통구 중부대로 274, 1층 (매탄동)",203988.751861,419101.876888,1
10839410,유료직업소개소,2023-11-20,3,폐업,2024-04-22,NaN,NaN,전라남도 순천시 팔마1길 10 (연향동),246875.413685,159485.174215,1
10839411,유료직업소개소,2023-12-01,3,폐업,2024-04-05,NaN,NaN,"경기도 안산시 단원구 다문화길 13, 3층 301호 (원곡동)",181328.095000,425284.055000,1
10839412,유료직업소개소,2023-11-27,3,폐업,2024-07-05,NaN,NaN,경기도 여주시 여흥로33번길 17 (하동),255645.985782,422171.177742,1

In [55]:
import re

# 시, 군, 구 추출 함수 정의
def split_address(address):
    if not isinstance(address, str):  # 문자열이 아니면 None 반환
        return pd.Series({'시': None, '군': None, '구': None})
    
    pattern = r'(?P<si>[가-힣]+시)?\s?(?P<gun>[가-힣]+군)?\s?(?P<gu>[가-힣]+구)?'
    match = re.search(pattern, address)
    if match:
        return pd.Series({
            '시': match.group('si'),
            '군': match.group('gun'),
            '구': match.group('gu')
        })
    return pd.Series({'시': None, '군': None, '구': None})

# 데이터프레임에 적용하여 새로운 컬럼 추가
merged_df[['시', '군', '구']] = merged_df['도로명전체주소'].apply(split_address)

merged_df.head()

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y),기준,시,군,구
10,병원,2022-04-26,1.0,영업/정상,NaT,NaN,NaN,"인천광역시 남동구 석촌로 21, 인천국제한방병원 (간석동)",174177.518679,440066.646396,1,인천광역시,None,남동구
11,병원,2023-08-21,1.0,영업/정상,NaT,NaN,NaN,"광주광역시 남구 회재로 1261, 3~6층 (주월동)",190669.185031,181755.177344,1,광주광역시,None,남구
12,병원,2023-08-25,1.0,영업/정상,NaT,NaN,NaN,"대구광역시 달성군 현풍읍 테크노상업로 30, 3층~7층 일부, 8층, 9층 & 테크...",331393.936784,244500.705818,1,대구광역시,달성군,None
13,병원,2023-08-18,1.0,영업/정상,NaT,NaN,NaN,"세종특별자치시 나성북로 15, MVG 4-7층 (나성동)",223082.154561,332111.535874,1,세종특별자치시,None,None
39,병원,2023-06-27,1.0,영업/정상,NaT,NaN,NaN,"서울특별시 서초구 방배로 151, 지하1층일부,2~5층 (방배동)",199360.582882,442777.806242,1,서울특별시,None,서초구

In [81]:
merged_df

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,폐업일자,휴업시작일자,휴업종료일자,도로명전체주소,좌표정보(x),좌표정보(y),기준,시,군,구
39,병원,2023-06-27,1.0,영업/정상,NaT,NaN,NaN,"서울특별시 서초구 방배로 151, 지하1층일부,2~5층 (방배동)",199360.582882,442777.806242,1,서울특별시,None,서초구
127,병원,2022-02-24,1.0,영업/정상,NaT,NaN,NaN,"서울특별시 노원구 동일로 987, 태릉마이크로병원건물 2,5,6,7층 (공릉동)",206551.607041,457326.722942,1,서울특별시,None,노원구
131,병원,2022-02-28,1.0,영업/정상,NaT,NaN,NaN,"서울특별시 강남구 선릉로 404, 더드림병원 (대치동)",204432.710770,444309.006551,1,서울특별시,None,강남구
232,병원,2020-03-11,1.0,영업/정상,NaT,NaN,NaN,"서울특별시 강북구 도봉로 187, 지하1층, 2층~5층 (미아동)",202240.855124,458118.709573,1,서울특별시,None,강북구
243,병원,2024-04-25,1.0,영업/정상,NaT,NaN,NaN,"서울특별시 양천구 신월로 164, 승일뷰티타워2 8~9층 (신월동)",185962.809547,446176.170953,1,서울특별시,None,양천구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10839389,유료직업소개소,2023-10-04,3,폐업,2024-01-30,NaN,NaN,"서울특별시 영등포구 도림로 128, 3층 (대림동)",190787.446536,443367.818910,1,서울특별시,None,영등포구
10839391,유료직업소개소,2023-09-14,3,폐업,2024-07-01,NaN,NaN,"서울특별시 강서구 공항대로 237, 에이스타워 마곡 7층 720호 (마곡동)",185253.478151,450811.037606,1,서울특별시,None,강서구
10839397,유료직업소개소,2023-10-18,3,폐업,2023-10-25,NaN,NaN,"서울특별시 마포구 마포대로 63-8, 삼창프라자빌딩 1241호 (도화동)",195324.793654,448885.430093,1,서울특별시,None,마포구
10839402,유료직업소개소,2023-10-10,3,폐업,2024-06-07,NaN,NaN,"서울특별시 강동구 천호대로 1073, 힐탑프라자 15층 1509호 (천호동)",211542.314117,448273.114107,1,서울특별시,None,강동구
10839404,유료직업소개소,2023-10-16,3,폐업,2023-12-26,NaN,NaN,"서울특별시 용산구 원효로90길 11, 11층 1126호 (원효로1가, 용산더프라임)",197287.505067,448662.153501,1,서울특별시,None,용산구

In [82]:
# 서울특별시만 추출
merged_df = merged_df[merged_df['시'] == '서울특별시']

In [83]:
# "구"열의 결측치 행 제거
merged_df = merged_df[merged_df['구'].notnull()]

In [84]:
merged_df.to_csv('merged_license_city.csv', encoding='utf-8', index=False)

In [85]:
T = df_w.shape[0] + df_o.shape[0] + df_c.shape[0]
T == merged_df.shape[0]

False

In [86]:
# groupby 메서드를 이용하여 일자별 '개방서비스명'으로 그룹화한 뒤 '기준' 컬럼의 합계 계산
# '구'열도 추가
df_o = merged_df.groupby(['인허가일자', '개방서비스명', '구'])['기준'].sum().reset_index()
df_c = merged_df.groupby(['폐업일자', '개방서비스명', '구'])['기준'].sum().reset_index()
df_rs = merged_df.groupby(['휴업시작일자', '개방서비스명', '구'])['기준'].sum().reset_index()
df_rf = merged_df.groupby(['휴업종료일자', '개방서비스명', '구'])['기준'].sum().reset_index()

In [87]:
# Grouping by '인허가일자' and '구' with all services counted separately
df_o = df_o.groupby(['인허가일자', '구', '개방서비스명']).size().unstack(level=-1, fill_value=0)
df_c = df_c.groupby(['폐업일자', '구', '개방서비스명']).size().unstack(level=-1, fill_value=0)
df_rs = df_rs.groupby(['휴업시작일자', '구', '개방서비스명']).size().unstack(level=-1, fill_value=0)
df_rf = df_rf.groupby(['휴업종료일자', '구', '개방서비스명']).size().unstack(level=-1, fill_value=0)

df_o.reset_index(inplace=True)
df_c.reset_index(inplace=True)
df_rs.reset_index(inplace=True)
df_rf.reset_index(inplace=True)

In [72]:
# df_o = df_o.groupby(['인허가일자', '개방서비스명'])['기준'].sum().unstack()
# df_c = df_c.groupby(['폐업일자', '개방서비스명'])['기준'].sum().unstack()
# df_rs = df_r.groupby(['휴업시작일자', '개방서비스명'])['기준'].sum().unstack()
# df_rf = df_r.groupby(['휴업종료일자', '개방서비스명'])['기준'].sum().unstack()

In [88]:
df_o

개방서비스명,인허가일자,구,가축분뇨배출시설관리업(사업장),개인하수처리시설관리업(사업장),건강기능식품유통전문판매업,건강기능식품일반판매업,건물위생관리업,건설폐기물처리업,게임물배급업,게임물제작업,...,출판사,치과기공소,통신판매업,특정고압가스업,한옥체험업,환경전문공사업,환경측정대행업,환경컨설팅회사,후원방문판매업체,휴게음식점
0,2020-01-01,강남구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2020-01-01,관악구,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-01,금천구,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,2020-01-01,동대문구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,2020-01-01,성동구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32776,2024-10-31,용산구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
32777,2024-10-31,은평구,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
32778,2024-10-31,종로구,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
32779,2024-10-31,중구,0,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
32780,2024-10-31,중랑구,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
df_c

개방서비스명,폐업일자,구,가축분뇨배출시설관리업(사업장),개인하수처리시설관리업(사업장),건강기능식품유통전문판매업,건강기능식품일반판매업,건물위생관리업,건설폐기물처리업,게임물배급업,게임물제작업,...,출판사,치과기공소,통신판매업,특정고압가스업,한옥체험업,환경전문공사업,환경측정대행업,환경컨설팅회사,후원방문판매업체,휴게음식점
0,2020-01-02,중구,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-03,강동구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2020-01-03,중랑구,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-04,관악구,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-06,종로구,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35002,2024-11-13,중랑구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35003,2024-11-15,노원구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35004,2024-11-20,광진구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35005,2024-12-01,금천구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35006,2024-12-01,마포구,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [90]:
df_o.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32781 entries, 0 to 32780
Columns: 153 entries, 인허가일자 to 휴게음식점
dtypes: datetime64[ns](1), int64(151), object(1)
memory usage: 38.3+ MB

In [91]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35007 entries, 0 to 35006
Columns: 126 entries, 폐업일자 to 휴게음식점
dtypes: datetime64[ns](1), int64(124), object(1)
memory usage: 33.7+ MB

In [79]:
# # 시작 날짜와 끝나는 날짜 지정
# start_date = "2020-01-01"
# end_date = "2023-07-31"

# df_c['폐업일자'] = df_c['폐업일자'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d', errors='coerce'))
# df_o['인허가일자'] = df_o['인허가일자'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d', errors='coerce'))
# df_rs['휴업시작일자'] = df_rs['휴업시작일자'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d', errors='coerce'))
# df_rf['휴업종료일자'] = df_rf['휴업종료일자'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d', errors='coerce'))

# # 시계열 생성
# df_o = df_o[(df_o["인허가일자"] >= start_date) & (df_o["인허가일자"] <= end_date)].set_index("인허가일자")
# df_c = df_c[(df_c["폐업일자"] >= start_date) & (df_c["폐업일자"] <= end_date)].set_index("폐업일자")
# df_rs = df_rs[(df_rs["휴업시작일자"] >= start_date) & (df_rs["휴업시작일자"] <= end_date)].set_index("휴업시작일자")
# df_rf = df_rf[(df_rf["휴업종료일자"] >= start_date) & (df_rf["휴업종료일자"] <= end_date)].set_index("휴업종료일자")

In [92]:
df_o.to_csv('df_o_new.csv', encoding='utf-8')
df_c.to_csv('df_c_new.csv', encoding='utf-8')
df_rs.to_csv('df_rs_new.csv', encoding='utf-8')
df_rf.to_csv('df_rf_new.csv', encoding='utf-8')

In [ ]:
cm = pd.read_csv('시군구별_이동자수_20241126172236.csv', encoding='cp949')
cm

,시점,서울특별시,서울특별시.1,서울특별시.2,종로구,종로구.1,종로구.2,중구,중구.1,중구.2,...,서초구.2,강남구,강남구.1,강남구.2,송파구,송파구.1,송파구.2,강동구,강동구.1,강동구.2
0,시점,총전입 (명),총전출 (명),순이동 (명),총전입 (명),총전출 (명),순이동 (명),총전입 (명),총전출 (명),순이동 (명),...,순이동 (명),총전입 (명),총전출 (명),순이동 (명),총전입 (명),총전출 (명),순이동 (명),총전입 (명),총전출 (명),순이동 (명)
1,2020.01,131105,127159,3946,1961,2026,-65,1715,1681,34,...,146,9024,8306,718,9544,9285,259,10768,6110,4658
2,2020.02,170587,167282,3305,2765,2649,116,2302,2237,65,...,257,11266,10796,470,11556,12223,-667,14024,7998,6026
3,2020.03,164402,167806,-3404,2581,2634,-53,2226,2307,-81,...,-789,8222,9848,-1626,10280,12099,-1819,15041,9332,5709
4,2020.04,127208,134325,-7117,1912,2161,-249,1659,1699,-40,...,-917,6544,8110,-1566,7797,9171,-1374,9132,6773,2359
5,2020.05,117734,120443,-2709,1642,1957,-315,1623,1625,-2,...,-446,6448,7823,-1375,7144,8059,-915,6698,5453,1245
6,2020.06,122292,126224,-3932,1790,2035,-245,1628,1676,-48,...,-496,6576,7341,-765,7430,8170,-740,6103,5335,768
7,2020.07,115625,121544,-5919,1725,1893,-168,1479,1609,-130,...,-753,6870,7504,-634,8416,8448,-32,5434,5334,100
8,2020.08,123804,131848,-8044,1803,1986,-183,1584,1592,-8,...,-1049,7493,8003,-510,8843,9263,-420,5811,5895,-84
9,2020.09,127908,137952,-10044,2038,2058,-20,1814,2011,-197,...,-1312,7101,8060,-959,8411,9534,-1123,7165,6554,611
10,2020.10,126788,137100,-10312,1771,1988,-217,1530,1681,-151,...,-528,9327,8464,863,8417,9948,-1531,6585,6184,401
11,2020.11,117563,127049,-9486,1755,1883,-128,1556,1701,-145,...,-165,7572,7869,-297,8892,9423,-531,5709,5639,70
12,2020.12,133111,144245,-11134,1889,1984,-95,1661,1914,-253,...,-367,8882,9458,-576,10198,10834,-636,8967,7664,1303
13,2021.01,114415,124855,-10440,1658,1887,-229,1585,1758,-173,...,-474,7487,8193,-706,8829,9646,-817,7743,6421,1322
14,2021.02,141936,151351,-9415,2288,2490,-202,1854,2052,-198,...,-940,9379,10064,-685,10344,12160,-1816,10196,7406,2790
15,2021.03,151617,157833,-6216,2644,2697,-53,1966,2144,-178,...,-1025,8868,10145,-1277,10653,12743,-2090,9942,7823,2119
16,2021.04,117475,127213,-9738,1817,1978,-161,1623,1680,-57,...,-1044,6479,7730,-1251,8787,10097,-1310,6452,6103,349
17,2021.05,112967,121276,-8309,1726,1918,-192,1634,1744,-110,...,-1001,6628,7706,-1078,8295,9135,-840,5575,5542,33
18,2021.06,104704,112992,-8288,1618,1916,-298,1545,1621,-76,...,-788,6222,6828,-606,7051,8002,-951,4874,5210,-336
19,2021.07,111646,120075,-8429,1715,2035,-320,1685,1752,-67,...,-198,6718,7633,-915,7507,8191,-684,5550,5658,-108
20,2021.08,125161,133278,-8117,1980,2114,-134,1780,1864,-84,...,-835,11556,9317,2239,10350,9541,809,5524,6411,-887
21,2021.09,110490,118609,-8119,1748,1758,-10,1675,1685,-10,...,-1356,8072,7548,524,8690,8378,312,5368,5676,-308
22,2021.10,107123,116512,-9389,1628,1764,-136,1515,1589,-74,...,-1245,7768,7257,511,8115,8300,-185,5862,6330,-468
23,2021.11,108106,118660,-10554,1600,1805,-205,1489,1561,-72,...,-1723,7208,7511,-303,8162,8593,-431,5357,5862,-505
24,2021.12,112547,121776,-9229,1782,2066,-284,1566,1676,-110,...,-1084,7697,8174,-477,8398,8865,-467,5440,6002,-562
25,2022.01,100675,103083,-2408,1628,1713,-85,1366,1517,-151,...,-731,7084,6886,198,7820,7333,487,4838,5060,-222
26,2022.02,142156,138891,3265,2491,2406,85,1964,2103,-139,...,-881,9555,9398,157,12704,10137,2567,5981,6494,-513
27,2022.03,122917,123192,-275,1782,2027,-245,1820,1781,39,...,-858,7042,7758,-716,10025,8883,1142,5446,6111,-665
28,2022.04,95228,99394,-4166,1388,1610,-222,1337,1379,-42,...,-841,5446,5942,-496,7398,6996,402,4959,4959,0
29,2022.05,104657,107739,-3082,1565,1691,-126,1442,1464,-22,...,-797,6201,6504,-303,7423,7483,-60,5460,5292,168
30,2022.06,91205,93015,-1810,1321,1537,-216,1266,1239,27,...,-514,5740,5703,37,6242,6326,-84,4580,4384,196
31,2022.07,90743,92319,-1576,1554,1625,-71,1289,1244,45,...,-335,6031,5667,364,6278,6269,9,4162,4075,87
32,2022.08,103288,104172,-884,1797,1754,43,1427,1483,-56,...,-327,7028,6522,506,6675,6958,-283,4609,4303,306
33,2022.09,86938,91087,-4149,1458,1592,-134,1239,1290,-51,...,60,5046,5298,-252,5557,6008,-451,3773,3925,-152
34,2022.10,85408,91844,-6436,1422,1472,-50,1103,1309,-206,...,-240,5053,5233,-180,5678,6218,-540,3718,3977,-259
35,2022.11,85979,92384,-6405,1328,1501,-173,1158,1249,-91,...,-221,5174,5427,-253,5866,6345,-479,3884,4070,-186
36,2022.12,92333,99747,-7414,1389,1628,-239,1327,1407,-80,...,-381,5916,6481,-565,6597,7181,-584,4107,4194,-87
37,2023.01,91225,94248,-3023,1420,1568,-148,1297,1393,-96,...,221,6159,6350,-191,6439,6690,-251,3926,3925,1
38,2023.02,126733,123266,3467,2298,2062,236,1931,1658,273,...,516,9166,8126,1040,9149,8937,212,5588,5434,154
39,2023.03,116723,117601,-878,1792,2124,-332,2038,1624,414,...,-303,11083,8257,2826,7992,8957,-965,4849,5190,-341
40,2023.04,89745,93110,-3365,1255,1408,-153,1576,1295,281,...,-331,7931,6102,1829,6662,7079,-417,4032,4441,-409
41,2023.05,99323,102676,-3353,1460,1698,-238,1588,1481,107,...,-167,7696,6657,1039,7274,7757,-483,4555,4813,-258
42,2023.06,90971,95204,-4233,1317,1469,-152,1404,1301,103,...,6,7085,5774,1311,6815,6981,-166,4157,4496,-339
43,2023.07,94517,97209,-2692,1369,1524,-155,1511,1482,29,...,214,7972,6325,1647,6513,7061,-548,4199,4558,-359
44,2023.08,111712,112732,-1020,1609,1768,-159,1693,1630,63,...,-136,9443,7603,1840,7001,7442,-441,4736,4919,-183
45,2023.09,93071,94441,-1370,1402,1465,-63,1386,1460,-74,...,1820,6166,5974,192,5869,6298,-429,4297,4320,-23
46,2023.10,100287,105014,-4727,1491,1731,-240,1505,1570,-65,...,1438,7314,6682,632,6722,7081,-359,5110,5118,-8
47,2023.11,93060,99299,-6239,1382,1420,-38,1510,1426,84,...,366,6126,6462,-336,6424,6840,-416,5575,4922,653
48,2023.12,99596,103413,-3817,1443,1464,-21,1421,1314,107,...,-465,11692,7936,3756,6994,7649,-655,5176,4844,332
49,2024.01,111217,111982,-765,1725,1704,21,1587,1551,36,...,81,13140,8937,4203,7290,7456,-166,5032,4818,214
50,2024.02,138040,134906,3134,2356,2208,148,2050,1908,142,...,191,14454,10088,4366,9557,9657,-100,7389,6314,1075
51,2024.03,108484,109721,-1237,1861,1798,63,1794,1617,177,...,-185,7752,7059,693,7428,7651,-223,6284,5471,813
52,2024.04,100781,106623,-5842,1595,1625,-30,1603,1566,37,...,-309,6948,6624,324,6950,7274,-324,5731,5174,557
53,2024.05,93236,99119,-5883,1409,1469,-60,1347,1416,-69,...,-267,6824,5592,1232,6375,6763,-388,4787,4499,288
54,2024.06,81182,86740,-5558,1143,1278,-135,1246,1297,-51,...,42,5814,5243,571,5367,5778,-411,4326,3919,407
55,2024.07,98177,103617,-5440,1429,1502,-73,1514,1558,-44,...,165,7200,6696,504,6774,7291,-517,5966,5080,886
56,2024.08,103290,107138,-3848,1653,1788,-135,1559,1520,39,...,195,7709,6609,1100,6970,7587,-617,6405,5120,1285
57,2024.09,90902,95202,-4300,1394,1435,-41,1358,1437,-79,...,178,5925,5803,122,6922,6837,85,4919,4705,214