In [28]:
import pandas as pd
import os

In [29]:
# file_to_variable = {
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/im_op.csv': 'im_op',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/im_cl.csv': 'im_cl',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/im_rs.csv': 'im_rs',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/im_rf.csv': 'im_rf',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/om_op.csv': 'om_op',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/om_cl.csv': 'om_cl',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/om_rs.csv': 'om_rs',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/om_rf.csv': 'om_rf',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/dl_op.csv': 'dl_op',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/dl_cl.csv': 'dl_cl',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/dl_rs.csv': 'dl_rs',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/dl_rf.csv': 'dl_rf',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/bc_op.csv': 'bc_op',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/bc_cl.csv': 'bc_cl',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/bc_rs.csv': 'bc_rs',
#     'C:/Users/Edward/Desktop/PythonWorkspace/인허가/bc_rf.csv': 'bc_rf'
# }

In [30]:
# 디렉토리 경로 설정
directory_path = 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황'

# 디렉토리 내의 CSV 파일 목록 가져오기
csv_files = [file for file in os.listdir(directory_path) if file.endswith('.csv')]

# 파일 목록을 기반으로 사전 생성
file_to_variable = {os.path.join(directory_path, file): file.split('.')[0] for file in csv_files}

# 생성된 사전 확인
file_to_variable

{'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\bc_cl.csv': 'bc_cl',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\bc_op.csv': 'bc_op',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\bc_rf.csv': 'bc_rf',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\bc_rs.csv': 'bc_rs',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\dl_cl.csv': 'dl_cl',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\dl_op.csv': 'dl_op',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\dl_rf.csv': 'dl_rf',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\dl_rs.csv': 'dl_rs',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\im_cl.csv': 'im_cl',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\im_op.csv': 'im_op',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\im_rf.csv': 'im_rf',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\im_rs.csv': 'im_rs',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\om_cl.csv': 'om_cl',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\om_op.csv': 'om_op',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\om_rf.csv': 'om_rf',
 'C:/Users/Edward/Desktop/PythonWorkspace/인허가/각 사건별 상황\\om_rs.csv': 'om_rs'}

In [31]:
dfs = {}

In [32]:
for file_name, variable_name in file_to_variable.items():
    df = pd.read_csv(file_name, delimiter=';', header=None)
    df.columns = ['업종', variable_name, variable_name, variable_name]
    dfs[variable_name] = df

In [33]:
for variable_name, df in dfs.items():
    globals()[variable_name] = df

In [34]:
im_op

                   업종    im_op    im_op    im_op
0                  업종     절대효과     상대효과  p-value
1          가축분뇨 수집운반업    -1.79  -64.11%     0.04
2    가축분뇨배출시설관리업(사업장)     0.12     6.3%     0.42
3               가축사육업    13.35     5.5%     0.32
4             가축인공수정소     0.01    0.08%     0.48
..                ...      ...      ...      ...
173           환경전문공사업    -3.44   -5.05%     0.12
174           환경측정대행업    33.82   71.29%      0.0
175           환경컨설팅회사    -1.04   -4.39%     0.47
176          후원방문판매업체  -102.26  -43.56%      0.0
177             휴게음식점   292.67   12.95%     0.01

[178 rows x 4 columns]

In [35]:
im_cl

          업종   im_cl    im_cl    im_cl
0         업종    절대효과     상대효과  p-value
1      담배소매업   45.43    4.33%      0.2
2       목욕장업   -7.56  -26.46%     0.08
3        숙박업  -29.78  -35.65%     0.04
4      석유판매업   -2.02   -9.83%     0.36
..       ...     ...      ...      ...
159    동물장묘업   -1.72  -40.82%     0.36
160    동물미용업   -24.7  -32.85%     0.01
161  동물위탁관리업  -14.41  -24.05%     0.07
162    동물운송업  -12.72  -36.89%     0.02
163    동물전시업    0.62    6.48%     0.39

[164 rows x 4 columns]

In [36]:
im_rs

                   업종   im_rs      im_rs    im_rs
0                  업종    절대효과       상대효과  p-value
1          가축분뇨 수집운반업    -0.1    -100.0%     0.23
2    가축분뇨배출시설관리업(사업장)    0.18    261.09%      0.1
3               가축사육업  -39.83    -49.74%     0.01
4             가축인공수정소    0.26  -3132.43%     0.04
..                ...     ...        ...      ...
112             통신판매업  -49.39     -28.2%     0.02
113             한옥체험업  -49.39     -28.2%     0.02
114          환경관리대행기관   -0.11    -100.0%     0.22
115           환경전문공사업    0.13    114.63%     0.21
116           환경측정대행업    0.13    114.63%     0.21

[117 rows x 4 columns]

In [37]:
im_rf

             업종  im_rf    im_rf    im_rf
0            업종   절대효과     상대효과  p-value
1         담배소매업  -5.76  -16.34%     0.06
2         방문판매업   1.88  215.75%     0.21
3            약국   0.68  900.69%      0.0
4         옥외광고업   3.26   48.36%     0.04
..          ...    ...      ...      ...
111       전문휴양업   0.07   10.28%     0.41
112       치과기공소   0.07   10.28%     0.38
113       동물장묘업   0.07   10.28%      0.4
114         집유업   0.07   10.28%     0.41
115  동물용의료용구판매업   0.07   10.28%     0.37

[116 rows x 4 columns]

In [38]:
om_op

                   업종   om_op      om_op    om_op
0                  업종    절대효과       상대효과  p-value
1          가축분뇨 수집운반업   -1.06    -24.53%     0.12
2    가축분뇨배출시설관리업(사업장)    2.55  -5361.91%      0.0
3               가축사육업   22.56      8.77%     0.21
4             가축인공수정소    6.16     73.77%     0.04
..                ...     ...        ...      ...
172           환경전문공사업   -2.72     -4.61%     0.14
173           환경측정대행업    27.0    229.84%      0.0
174           환경컨설팅회사   27.04    418.85%      0.0
175          후원방문판매업체  -27.25    -10.75%     0.16
176             휴게음식점  -60.02     -2.79%     0.27

[177 rows x 4 columns]

In [39]:
om_cl

          업종  om_cl    om_cl    om_cl
0         업종   절대효과     상대효과  p-value
1      담배소매업  -58.3   -5.62%      0.1
2       목욕장업  20.63  118.76%      0.0
3        숙박업  11.46   13.84%     0.22
4      석유판매업   3.14   15.23%     0.28
..       ...    ...      ...      ...
159    동물장묘업   4.02  134.86%      0.2
160    동물미용업  34.54   66.16%      0.0
161  동물위탁관리업  35.61   93.36%      0.0
162    동물운송업  30.44  295.23%      0.0
163    동물전시업   5.42    85.7%     0.01

[164 rows x 4 columns]

In [40]:
om_rs

                   업종   om_rs     om_rs    om_rs
0                  업종    절대효과      상대효과  p-value
1          가축분뇨 수집운반업    0.47  -213.69%      0.0
2    가축분뇨배출시설관리업(사업장)    0.38  -290.58%      0.0
3               가축사육업   16.57    22.34%     0.18
4             가축인공수정소    0.06   -100.0%     0.34
..                ...     ...       ...      ...
111             통신판매업  100.56   129.87%      0.0
112             한옥체험업  100.56   129.87%      0.0
113          환경관리대행기관    0.44  -230.27%      0.0
114           환경전문공사업    0.29   -805.0%     0.03
115           환경측정대행업    0.29   -805.0%     0.04

[116 rows x 4 columns]

In [41]:
om_rf

             업종  om_rf    om_rf    om_rf
0            업종   절대효과     상대효과  p-value
1         담배소매업   2.58    9.23%     0.25
2         방문판매업   2.41  -364.1%     0.19
3            약국  -0.48  -100.0%      0.0
4         옥외광고업   2.16   35.38%      0.1
..          ...    ...      ...      ...
109       전문휴양업   0.55   270.0%      0.0
110       치과기공소   0.55   270.0%      0.0
111       동물장묘업   0.55   270.0%      0.0
112         집유업   0.55   270.0%      0.0
113  동물용의료용구판매업   0.55   270.0%      0.0

[114 rows x 4 columns]

In [42]:
dl_op

                   업종    dl_op     dl_op    dl_op
0                  업종     절대효과      상대효과  p-value
1          가축분뇨 수집운반업     2.73   214.62%      0.0
2    가축분뇨배출시설관리업(사업장)     1.07  -333.17%     0.01
3               가축사육업    79.56     36.8%      0.0
4             가축인공수정소    -7.17   -36.93%     0.01
..                ...      ...       ...      ...
172           환경전문공사업    -7.52   -14.96%      0.0
173           환경측정대행업   -11.62   -34.57%      0.0
174           환경컨설팅회사    -1.49   -24.89%      0.1
175          후원방문판매업체  -108.95   -32.89%      0.0
176             휴게음식점   166.26      7.3%     0.06

[177 rows x 4 columns]

In [43]:
dl_cl

          업종   dl_cl     dl_cl    dl_cl
0         업종    절대효과      상대효과  p-value
1      담배소매업  136.31    14.42%      0.0
2       목욕장업   15.12    95.27%      0.0
3        숙박업    7.85     7.69%     0.34
4      석유판매업   13.29    60.49%      0.0
..       ...     ...       ...      ...
159    동물장묘업    8.52  -375.83%     0.06
160    동물미용업   -6.86   -12.11%     0.17
161  동물위탁관리업  -10.51   -20.21%     0.06
162    동물운송업   -0.11    -0.93%     0.48
163    동물전시업   -2.97   -30.52%     0.12

[164 rows x 4 columns]

In [44]:
dl_rs

                   업종   dl_rs    dl_rs    dl_rs
0                  업종    절대효과     상대효과  p-value
1          가축분뇨 수집운반업    0.12  -100.0%     0.17
2    가축분뇨배출시설관리업(사업장)    0.13  -100.0%     0.16
3               가축사육업  -98.64  -68.55%      0.0
4             가축인공수정소   -0.37  -100.0%     0.01
..                ...     ...      ...      ...
110             통신판매업  -47.84  -38.32%     0.01
111             한옥체험업  -47.84  -38.32%     0.01
112          환경관리대행기관    0.04  -100.0%     0.37
113           환경전문공사업   -0.28  -100.0%     0.04
114           환경측정대행업   -0.28  -100.0%     0.04

[115 rows x 4 columns]

In [45]:
dl_rf

          업종  dl_rf     dl_rf    dl_rf
0         업종   절대효과      상대효과  p-value
1      담배소매업  -15.6   -44.14%      0.0
2      방문판매업    3.6   311.97%      0.1
3         약국  -0.36   -100.0%     0.01
4      옥외광고업    5.0   117.43%      0.0
..       ...    ...       ...      ...
100  동물위탁관리업  -0.02   -100.0%     0.47
101      도축업    0.6  -611.12%      0.0
102    동물전시업    0.6  -611.12%      0.0
103   농어촌민박업   2.02   116.99%      0.0
104    영화상영업   2.02   116.99%      0.0

[105 rows x 4 columns]

In [46]:
bc_op

                   업종   bc_op     bc_op    bc_op
0                  업종    절대효과      상대효과  p-value
1          가축분뇨 수집운반업   -0.97   -23.05%     0.08
2    가축분뇨배출시설관리업(사업장)   -1.49   -49.81%      0.0
3               가축사육업  -71.09   -13.88%     0.01
4             가축인공수정소   -1.81   -17.58%     0.12
..                ...     ...       ...      ...
173           환경전문공사업   -0.02     -0.1%     0.49
174           환경측정대행업   14.37  -396.64%      0.0
175           환경컨설팅회사    0.53    21.66%     0.26
176          후원방문판매업체    2.26     4.13%     0.39
177             휴게음식점   29.26     1.61%     0.38

[178 rows x 4 columns]

In [47]:
bc_cl

          업종   bc_cl    bc_cl    bc_cl
0         업종    절대효과     상대효과  p-value
1      담배소매업   -7.61   -0.69%     0.44
2       목욕장업    7.83   27.08%     0.01
3        숙박업   15.05    19.0%     0.12
4      석유판매업    1.74     5.7%     0.43
..       ...     ...      ...      ...
158    동물장묘업  -11.37  -63.63%     0.03
159    동물미용업    3.75   10.63%     0.12
160  동물위탁관리업    3.78   11.65%     0.07
161    동물운송업    5.32   86.08%      0.0
162    동물전시업   -1.27  -16.84%      0.1

[163 rows x 4 columns]

In [48]:
bc_rs

                   업종   bc_rs    bc_rs    bc_rs
0                  업종    절대효과     상대효과  p-value
1          가축분뇨 수집운반업   -0.02  -100.0%     0.42
2    가축분뇨배출시설관리업(사업장)   -0.05  -15.72%     0.28
3               가축사육업  -19.01  -27.25%     0.04
4             가축인공수정소   -0.16  -100.0%     0.38
..                ...     ...      ...      ...
105             통신판매업   10.13   22.58%      0.1
106             한옥체험업   10.13   22.58%     0.08
107           환경전문공사업    0.08  -100.0%     0.14
108           환경측정대행업    0.08  -100.0%     0.16
109          후원방문판매업체    0.18  -100.0%     0.22

[110 rows x 4 columns]

In [49]:
bc_rf

         업종  bc_rf      bc_rf    bc_rf
0        업종   절대효과       상대효과  p-value
1     담배소매업    0.3      1.42%     0.45
2     방문판매업   3.55     111.1%      0.0
3        약국   0.08    -100.0%     0.15
4     옥외광고업   2.57    219.11%     0.01
..      ...    ...        ...      ...
92   물류창고업체   0.26  -3585.59%     0.04
93  다단계판매업체   0.26  -3585.59%     0.05
94  자동차야영장업   0.08    -100.0%     0.16
95   축산물운반업  -0.01    -100.0%     0.47
96    동물수입업  -0.01    -100.0%     0.49

[97 rows x 4 columns]

In [50]:
dfs.keys()

dict_keys(['bc_cl', 'bc_op', 'bc_rf', 'bc_rs', 'dl_cl', 'dl_op', 'dl_rf', 'dl_rs', 'im_cl', 'im_op', 'im_rf', 'im_rs', 'om_cl', 'om_op', 'om_rf', 'om_rs'])

In [51]:
# 업종을 기준으로 데이터프레임 합치기
result_df = pd.concat([df.set_index('업종') for df in dfs.values()], axis=1)
first_row = result_df.iloc[0]
sorted_result_df = result_df[1:].sort_values(by='업종', ascending=True)
result_df = pd.concat([first_row.to_frame().T, sorted_result_df])
result_df.reset_index(inplace=True)
result_df = result_df.applymap(lambda x: int(x) if pd.api.types.is_numeric_dtype(x) else x)

In [52]:
# 결과 데이터프레임 출력
result_df.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/인허가/result.csv', encoding='utf-8-sig', index=False)
result_df.to_excel('C:/Users/Edward/Desktop/PythonWorkspace/인허가/결과/result.xlsx', encoding='utf-8-sig', index=False)

c:\Users\Edward\anaconda3\envs\ci\lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [53]:
import openpyxl
from openpyxl.styles import PatternFill, Font

In [54]:
# 엑셀 파일 열기
workbook = openpyxl.load_workbook('C:/Users/Edward/Desktop/PythonWorkspace/인허가/결과/result.xlsx')
worksheet = workbook.active

# 필터 적용 (두 번째 행)
worksheet.auto_filter.ref = 'A2:AW2'

# B2:AW189 범위의 셀 서식을 숫자로 변경
for row in worksheet.iter_rows(min_row=2, max_row=189, min_col=2, max_col=49):  # 열 범위에 따라 min_col 및 max_col 수정
    for cell in row:
        cell.number_format = '0.00'  # 숫자 서식으로 변경, 소수점 2자리까지

# B2:AW189 범위의 숫자에 대한 배경색 설정
for row in worksheet.iter_rows(min_row=2, max_row=189, min_col=2, max_col=49):  # 열 범위에 따라 min_col 및 max_col 수정
    for cell in row:
        if cell.value is not None:
            if isinstance(cell.value, (int, float)) and cell.value < 0.05:
                cell.fill = PatternFill(start_color="FFFF66", end_color="FFFF66", fill_type="solid")

# A열에 있는 특정 문자열 값을 빨간색으로 변경
target_strings = [
    '공연장', '관광공연장업', '관광사업자', '관광숙박업', '관광식당', '관광유람선업',
    '관광유흥음식점업', '관광펜션업', '국내여행업', '국내외여행업', '농어촌민박업', '숙박업',
    '스키장', '승마장업', '시내순환관광업', '썰매장업', '외국인관광도시민박업',
    '외국인전용유흥음식점업', '요트장업', '일반야영장업', '일반유원시설업', '종합여행업',
    '종합유원시설업', '한옥체험업'
]

for row in worksheet.iter_rows(min_row=2, max_row=189, min_col=1, max_col=1):  # A열만 검사
    for cell in row:
        if cell.value is not None and cell.value in target_strings:
            cell.font = Font(color="FF0000")


# 엑셀 파일 저장
workbook.save('C:/Users/Edward/Desktop/PythonWorkspace/인허가/결과/result_design.xlsx')

In [55]:
workbook

In [56]:
# # 업종을 기준으로 데이터프레임 합치기
# result_df = pd.concat([df.set_index('업종') for df in dfs.values()], axis=1, keys=dfs.keys())

# # 결과 데이터프레임 출력
# result_df.to_csv('C:/Users/Edward/Desktop/PythonWorkspace/인허가/result.csv', encoding='utf-8-sig')

In [57]:
# im = 실내 마스크 해제, om = 실외마스크 해제, dl = 거리두기 해제, bc = 코로나 이전, op = 개업, cl = 폐업, rs = 휴업시작, rf =휴업 종료